<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">

        <title>GRAND ABAD</title>

        <link rel="stylesheet" type="text/css" href="/static/zal/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/static/zal/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/static/zal/css/main-colors.css" />
        <link rel="stylesheet" type="text/css" href="/static/zal/css/vertical-center.css" />

        <style>
                .circleStats + .circleStats {
                        margin-top: 10px
                }

                .circleStatsItemBox {
                        background: none repeat scroll 0 0 #67c2ef;
                        height: 130px;
                        min-width: 130px;
                        padding-top: 20px;
                        position: relative;
                        width: 100%;
                        text-align: center;
                        -webkit-box-shadow: 4px 5px 2px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 4px 5px 2px 0px rgba(0,0,0,0.3);
                        box-shadow: 4px 5px 2px 0px rgba(0,0,0,0.3);
                }

                .circleStatsItemBox:active {
                        box-shadow: none;
                        -moz-box-shadow: none;
                        -webkit-box-shadow: none;
                }

                .circleStatsItemBox:active {
                        box-shadow: none;
                        -moz-box-shadow: none;
                        -webkit-box-shadow: none;
                }


                .circleStatsItemBox .header {
                        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
                        color: rgba(255, 255, 255, 0.9);
                        padding: 5px 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                }

                .circleStatsItemBox .number {
                    border: 6px solid white;
                    border-radius: 50%;
                    font-size: 38px;
                    height: 80px;
                    margin: 10px auto;
                    padding: 6px;
                    width: 80px;
                }

                .circleStatsItemBox.active .number {
                    border: 6px solid #999;
                }

                .circleStatsItemBox.active .number span {
                    color: #999;
                    text-shadow: 2px 0 0 rgba(0, 0, 0, 0.13);
                }

                .circleStatsItemBox .footer {
                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
                    bottom: 0;
                    color: rgba(255, 255, 255, 0.9);
                    height: 30px;
                    line-height:30px;
                    position: absolute;
                    text-align: left;
                    padding-left: 10px;
                    width: 100%;
                }

                .circleStatsItemBox .footer a {
                    color: #FFF;
                    font-family: sans-serif;
                    font-weight: bold;
                }

                a.itemlink {
                    outline: none;
                    text-decoration: none;
                    color: #fff;
                }

                .reservTime {
                  font-size: 12px;
                  font-weight: bold;
                  position: absolute;
                  right: 5px;
                  top: 35px;
                }

                .reservTime ul {
                    list-style: none;
                }

                a.reserv-button {
                    color: #fff;
                    font-size: 21px;
                    line-height: 29px;
                    padding: 0 8px 0 23px;
                    position: absolute;
                    right: 0;
                    outline: none;
                    text-decoration: none;                    
                }                


        </style>
</head>
<body>
    <div class="vertical-center">
        <div class="container" style="height:100%">
                <div class="row circleStats">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.3 %}</div>
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.4 %}</div>
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.5 %}</div>
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.6 %}</div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row circleStats">
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.2 %}</div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.13 %}</div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.9 %}</div>
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.7 %}</div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row circleStats">
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.1 %}</div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.12 %}</div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.8 %}</div>
                    <div class="col-sm-2"></div>
                </div>

                <div class="row circleStats">
                </div>
                <div class="row circleStats">
                    <div class="col-sm-2">{% include "zal_stol1.htm" with stol=stol.0  xname="VIP" %}</div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            {% include "zal_bar.htm" with stol=stol.11 %}                      
                        </div>
                </div>
        </div>
    </div>

<script type="text/javascript" src="/static/zal/js/jquery.js"></script>
<script type="text/javascript" src="/static/zal/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/static/zal/js/bootstrap.js"></script>
<script type="text/javascript">
    $(function(){

    });
</script>
</body>
</html>
