body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;  
}

a{text-decoration:none;}
a:hover{text-decoration:underline;}

.fl{float:left}
.fr{float:right}
.cb{clear:both}
.red{color:red !important}
.red p{color:red !important}
.green{color:green}
.width100{width:100%}
.width80{width:80%}
.width50{width:50%}
.width30{width:30%}
.width20{width:20%}
.w85px{width: 85px}
.w70px{width: 70px}
.w50px{width: 50px}
.mt10{margin-top: 10px}
.mt2{margin-top: 2px}
.mt6{margin-top: 6px}
.pl10{padding-left:10px}
.pr10{padding-right:10px}
.tac{text-align:center}
.tar{text-align:right}
.tal{text-align:left}
.cw{color:#ffffff}
.search_input{width: 300px}
.bbd{border-bottom: dotted}
.caption{position:relative}
.dn{display:none}
.fs120{font-size:120%}
.caption .badge{
	position:absolute;
	top:10px;
	right: 20px;
}
.cp{cursor:pointer}
.w200px{width:200px}

.odd{background-color:#f5f5f5}

.menu-buttons{width: 200px;margin: 100px auto;}
.btn-menu{width: 100%;margin: 10px}

#body{width: 900px; margin: 0 auto;position:relative}
	
ul li {list-style: none}
ul{padding-left:0px}
.expand,.collapse{cursor:pointer;}

.logo{display:block;margin-left: 10px;width:30px;height:50px;background:url(../img/logo.png);}
.logo2{display:block;margin-left: 10px;width:120px;height:50px;background:url(../img/logo.png);}

.display_next{cursor:pointer}
.numpad{margin-left: 13px}
.numbutton{
	width: 80px;
	height: 65px;
}

.zakaz_menu{
	font-size: 150%;
}


.submenu-category2{
	display:block;
	width: 580px;
	margin: 5px;
}
.submenu-category{
	display:block;
	width: 185px;
	margin: 5px;
	float:left;
}
.main_zakaz_menu{
	width: 140px;
}
.zakaz_uslga_position{
	width: 190px;
	height: 40px;
	overflow: hidden;
	padding: 5px;
	margin: 3px;
	float:left;
	float:left;
	display: block;
	border-radius: 5px;
}

.active .btn_menu1{
	background-color: #d73b4f !important;
	color: white !important;
}
.btn_menu1{
	background-color: #e6afa6;
	color: white;
}	

.btn_menu2{
	background-color: #e5e2d2;
	overflow: hidden;
	color: #555;
}

.btn_menu3{
	padding-top: 7px;
	background-color: #eff0eb;
	color: #444;
}

.menu-header{
	font-size: 125%;
}

.submenu-header{
	font-size: 125%;
	margin-top: 10px;
}

.menu-list {
	line-height: 30px;
}