{% extends "base.html" %}

{% block title %}Администрирование{% endblock %}

{% block body %}
<h5>{% now "d E Y D  H:i" %}</h5>
<small>Начало смены {{dstart|date:"d E Y D H:i"}}</small>
<table class="table">
<tr><td>Счетов открыто:</td><td>{{sch_open}}</td></tr>
<tr><td><a href="{% url 'schet' 1 %}">Счетов закрыто:</a></td><td>{{sch_closed}}</td></tr>
<tr>
	<td>Столов занято:</td>
	<td>
		{{stol_zakaz|length}} 
		{% if stol_zakaz %}
		(
		{% for d in stol_zakaz %}
		<span><a href="{% url 'zakaz' d.id %}">{{d.name}}</a></span>
		{% endfor %}
		)
		{% endif %}
	</td>
</tr>
<tr><td>Столов забронировано:</td>
	<td>
		{{stol_bron|length}}
		{% if stol_bron %}
		(
		{% for d in stol_bron %}
		<span><a href="{% url 'bron' d.stol.id %}">{{d.stol.name}}</a></span>
		{% endfor %}
		)
		{% endif %}
	</td>
</tr>
</table>

{% if sk %}
<button class="btn btn-danger change-dn" rel="sklad">На складе не хватает продуктов</button>

<div class="sklad dn">

<table class="table table-hover">
<tr><th>Наименование</th><th class="tar">Осталось (г,мл,шт)</th></tr>
{% for d in sk %}
<tr><td>{{d.tovar.name}}</td><td class="tar">{{d.volume|floatformat:0}}</td></tr>
{% endfor %}
</table>
</div>
{% endif %}


<script>
$(function(){
	$(".change-dn").click(function(){
		var c = "."+$(this).attr("rel")
		$(c).toggleClass("dn")
	})
})
</script>

{% endblock %}
