{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8; ru" />
  <meta name="Description" content="{% block description %}{% endblock %}"/>
  <meta name="Keywords" content="{% block keywords %}{% endblock %}"/>  
  
  
  <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.png" />
  
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap-theme.min.css" />  
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/base.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/base.js"></script>
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div id="body">
  {% block body %}{% endblock %}	
  </div>
  {% block extra_foot %}{% endblock %}
</body>
</html>