{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}{% endblock %}</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8; ru" />
  <meta name="Description" content="{% block description %}{% endblock %}"/>
  <meta name="Keywords" content="{% block keywords %}{% endblock %}"/>  
  
  
  <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.png" />
  
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap-theme.min.css" />  
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/base.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="{% get_static_prefix %}js/base.js"></script>
  {% block extra_head %}{% endblock %}
</head>
<body>
	<div class="navbar navbar-default" role="navigation">
		<ul class="nav navbar-nav">
			<li><a class="logo" href="{% url 'administrator' %}"></a></li>
			{% if is_admin %}
			<li><a href="{% url 'administrator' %}">{{user.get_full_name}}</a> </li>									
			{% endif %}
			
			{% if stols %}
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					К столу <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
				{% for d in stols %}
					<li {% if d.hasZakaz %}class="active"{% endif %}><a href="{% url 'zakaz' d.id %}">{{d.name}}</a></li>
				{% endfor %}
				</ul>				
			</li>
			{% endif %}			
			
			<li><a href="{% url 'zal' %}"><strong>В зал</strong></a></li>			
			{% if is_admin %}
			<li><a href="{% url 'bron' %}">Бронь</a></li>	
			<li><a href="{% url 'schet' 1%}">Счета</a></li>									
			<li><a href="{% url 'sklad' %}">Склад</a></li>				
			
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'reports' %}">Отчеты<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'report_dohod' %}">Доходы</a></li>
					<li><a href="{% url 'report_prihod' %}">Расходы</a></li>					
					<li><a href="{% url 'report_skidka' %}">Скидки</a></li>
					<li><a href="{% url 'report_doprashod' %}">Дополнительные расходы</a></li>
					<li><a href="{% url 'report_statistics' %}">Статистика</a></li>
				</ul>							
				
			</li>			
			{% endif %}
			{% if is_buh %}
			
				
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Приход<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'prihod' %}">Всё</a></li>
				{% for d in prihod_menu %}
					<li><a href="{% url 'prihod' d.id %}">{{d.name}}</a></li>
				{% endfor %}
				</ul>							
			</li>		
		  <li><a href="{% url 'menu' %}">Меню</a></li>							
		  {% if not NO_DISCOUNT_CARDS_OPTION %}
		  <li><a href="{% url 'discounts' %}" title="Скидочные карты">Карты</a></li>							
		  {% endif %}
			{% endif %}
		</ul>
		
		<ul class="fr nav navbar-nav">	
			{% if user.is_staff %}
			<li><a href="/admin/" target="_blank">Таблицы</a></li>			
			{% endif %}
			<li><a href="{% url 'logout' %}">Выход</a></li>
		</ul>
	</div>

  <div id="body">
  {% block body %}{% endblock %}	
  </div>
  
  <div style="position:fixed;right:5px;bottom:0px;"><a class="logo2" href="http://vk.com/caffeinsys"></a></div>
  {% block extra_foot %}{% endblock %}
</body>
</html>
