{% extends "base.html" %}
{% load static %}
{% block title %}Бронирование{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery-ui-1.10.4.custom.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.4.custom.min.js"></script>
{% endblock %}

{% block body %}
<h3>Бронирование столов</h3>
{% for s in stols %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Бронирование стола <b>{{s.name}}</b> <small class="fr"><a href="{% url 'bron' s.id %}">забронировать</a></small></h4>
	</div>
	{% if s.bron %}
	<div class="panel-body">
		<table class="table">
			<tr>
				<th>Примечание</th>
				<th>Дата</th>
				<th>Время</th>
				<th></th>
			</tr>
			
				{% for d in s.bron %}
				<tr {% if d.today %}class="danger"{% endif %}>
					<td>{{d.prim}}</td>
					<td>{{d.dt|date:"d.m.Y"}}</td>
					<td>{{d.dt|date:"H:i"}}</td>
				</tr>	
				{% endfor %}
			
		</table>
	</div>
	{% endif %}
</div>
{% endfor %}
<script>
$(function(){
	$( ".date" ).datepicker({
		dateFormat:'dd.mm.yy',
		monthNames:[ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
		dayNamesMin:["вс","пн","вт","ср","чт","пт","сб"]
		
	});
	//$( ".date" ).datepicker( "option", "altField", "#actualDate" );

})
</script>
{% endblock %}
