{% extends "base.html" %}
{% load static %}
{% block title %}Бронирование{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery-ui-1.10.4.custom.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.4.custom.min.js"></script>
{% endblock %}

{% block body %}
<h3>Бронирование стола <b>{{stol.name}}</b></h3>
<form action="" method="post">
<table class="table">
	<tr>
		<th>Примечание</th>
		<th>Дата</th>
		<th>Время</th>
		<th></th>
	</tr>
	{% for d in bron %}
	<tr {% if d.today %}class="danger"{% endif %}>
		<td>{{d.prim}}</td>
		<td>{{d.dt|date:"d M Y"}}</td>
		<td>{{d.dt|date:"H:i"}}</td>
		<td><a class="btn btn-default btn-xs" href="{% url 'bron' stol.id %}?rm={{d.id}}">удалить</a></td>
	</tr>	
	{% endfor %}
	<tr>
		<th><input type="text" class="form-control" name="prim" value=""/></th>
		<th><input type="text" class="date form-control" name="date" value="{% now 'd.m.Y' %}"/></th>
		<th>
			<select class="form-control" name="time">
			{% for d in times %}
				<option {% if d == "17:00" %}selected="selected"{% endif %}>{{d}}</option>
			{% endfor %}
			</select>
		</th>
		<th><input type="submit" class="btn btn-default" value="Сохранить" /></th>
	</tr>
</table>
</form>
<script>
$(function(){
	$( ".date" ).datepicker({
		dateFormat:'dd.mm.yy',
		monthNames:[ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
		dayNamesMin:["вс","пн","вт","ср","чт","пт","сб"]
		
	});
})
</script>
{% endblock %}
