{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/base.css" />
<style>
.table{width:250px}
</style>
</head>
<body>
	
		<h3><span class="sname">{{s.name}}</span></h3>
		{% if not s.hasZakaz %}<span class="alert width100 no-info">пустой</span>{% endif %}
		<div class="schet">
		<table class='table'>
		{% if s.zakaz1 %}
		
			<tr class='success rname tac'><td colspan='5'>Кухня</td></tr>
			{% for d in s.zakaz1 %}
			<tr class='usluga' rel='{{d.usluga.id}}'>
				<td class='name width100'>{{d.usluga.name}}</td>
				<td class='cnt tar' rel='0'>{{d.cnt}}</td>
				
				<td class='total_price tar'>{{d.price|floatformat:2}}</td>
			</tr>
			{% endfor %}
		
		{% endif %}
		
		{% if s.zakaz2 %}
		
			<tr class='success rname tac'><td colspan='5'>Бар</td></tr>
			{% for d in s.zakaz2 %}
			<tr class='usluga' rel='{{d.usluga.id}}'>
				<td class='name width100'>{{d.usluga.name}}</td>
				<td class='cnt tar'>{{d.cnt}}</td>
				<td class='total_price tar'>{{d.price|floatformat:2}}</td>
			</tr>
			{% endfor %}
		
		{% endif %}	

		{% if s.zakaz3 %}
		
			<tr class='success rname tac'><td colspan='5'>Кальян</td></tr>
			{% for d in s.zakaz3 %}
			<tr class='usluga' rel='{{d.usluga.id}}'>
				<td class='name width100'>{{d.usluga.name}}</td>
				<td class='cnt tar' rel='0'>{{d.cnt}}</td>
				
				<td class='total_price tar'>{{d.price|floatformat:2}}</td>
			</tr>
			{% endfor %}
		
		{% endif %}	
		
		{% if s.zakaz4 %}
		
			<tr class='success rname tac'><td colspan='5'>Кальян</td></tr>
			{% for d in s.zakaz4 %}
			<tr class='usluga' rel='{{d.usluga.id}}'>
				<td class='name width100'>{{d.usluga.name}}</td>
				<td class='cnt tar' rel='0'>{{d.cnt}}</td>
				
				<td class='total_price tar'>{{d.price|floatformat:2}}</td>
			</tr>
			{% endfor %}
		
		{% endif %}			
		
		<tr><td class="width100" colspan='3'><hr/></tr>
		<tr><td class="width100"><b>Итого:</b></td><th class="tar" colspan="2">{{s.calcPrice}}</th></tr>
		</table>
		
		
		
		</div>
	


</body>
</html>