{% extends "base.html" %}
{% block title %}Скидочные карты{% endblock %}
{% block body %}
<h2>Скидочные карты</h2>

<table class="table table-hover">
	<tr>
		<th class="tac">н/п</th>
		<th class="tac">Номер карты</th>
		<th class="tac">ФИО</th>
		<th class="tac">Телефон</th>
		<th class="tac">Размер скидки</th>
		<th class="tac">Баланс</th>
		<th class="tac">Кол-во применений (счетов)</th>
		<th class="tac">Примечание</th>
		<th class="tac">Дата последнего применения</th>
	</tr>
	{% for d in objects %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td>{{d.card_number}}</td>
		<td>{{d.fio}}</td>
		<td>{{d.phone}}</td>
		<td class="tar">{{d.discount_value}}%</td>
		<td class="tar">{{d.balance|floatformat:2}}</td>
		<td class="tac">{{d.schet_count}}</td>
		<td>{{d.prim|default:""}}</td>
		<td class="tac">{% if d.dt_last %}{{d.dt_last|date:"d.m.Y H:i"}}{% else %}не применялась{% endif %}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
