<div class="modal fade" id="dlg_skidka_card" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	<form method="post" action="{% url 'skidka_fix' %}">
	{% csrf_token %}
      <div class="modal-header">
		<input type="hidden" name="schet_id" id="discount_schet_id" value=""/>
		<input type="hidden" name="discount_card_id" id="discount_card_id" value=""/>
		<input type="hidden" name="discount_max_summ" id="discount_max_summ" value=""/>
		<span>Скидка по карте</span>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">

		<div class="form-group">
			<label for="card_number">Номер карты</label>
			<div class="input-group">
				<input class="form-control" name="card_number" id="card_number" type="text" value="">
				<span class="input-group-btn">
  				<button class="btn btn-default add-menu" type="button" onclick="updateCard()">найти</button>
  			</span>

			</div>
		</div>
		<div class="row">
			<div class="col-md-1"><button class="btn btn-primary btn-sm" onclick="return addValue('0')">0</button></div>
			<div class="col-md-1"><button class="btn btn-primary btn-sm" onclick="return addValue('1')">1</button></div>
			<div class="col-md-1"><button class="btn btn-primary btn-sm" onclick="return addValue('2')">2</button></div>
			<div class="col-md-1"><button class="btn btn-primary btn-sm" onclick="return addValue('3')">3</button></div>
			<div class="col-md-1"><button class="btn btn-primary btn-sm" onclick="return addValue('4')">4</button></div>
			<div class="col-md-1"><button class="btn btn-primary btn-sm" onclick="return addValue('5')">5</button></div>
			<div class="col-md-1"><button class="btn btn-primary btn-sm" onclick="return addValue('6')">6</button></div>
			<div class="col-md-1"><button class="btn btn-primary btn-sm" onclick="return addValue('7')">7</button></div>
			<div class="col-md-1"><button class="btn btn-primary btn-sm" onclick="return addValue('8')">8</button></div>
			<div class="col-md-1"><button class="btn btn-primary btn-sm" onclick="return addValue('9')">9</button></div>
			<div class="col-md-1"><button class="btn btn-primary btn-sm" onclick="return addValue('-1')">стереть</button></div>
		</div>

		<div class="row">
			<div class="col-md-10">
				<span class="dn text-danger card-search-error">Ошибка поиска карты</span>
				<span class="dn text-danger card-not-found">Карта не найдена</span>
				<div class="dn card-found">
					<h5 class="text-success">Карта найдена</h5>
					<table class="table">
						<tr>
							<td>Номер карты:</td>
							<td id="r_card_number"></td>
						</tr>
						<tr>
							<td>ФИО:</td>
							<td id="r_card_fio"></td>
						</tr>
						<tr>
							<td>Телефон:</td>
							<td id="r_card_phone"></td>
						</tr>
						<tr>
							<td>Размер скидки (возрата):</td>
							<td id="r_card_discount_value"></td>
						</tr>
						<tr>
							<td>Баланс карты:</td>
							<td id="r_card_balance"></td>
						</tr>
						<tr>
							<td colspan="2"><a href="#" onclick="return removeCard()" class="text-danger">убрать карту со счёта</a></td>
						</tr>
					</table>
					<div class="form-group discount-block dn">

						<label for="discount_summ">Списать</label>
						<div class="input-group">
							<input class="form-control" name="summ" id="discount_summ" type="text" value="0">
							<span class="input-group-btn">
			  				<button class="btn btn-danger add-menu" type="button" onclick="$('#discount_summ').val(0)">не списывать</button>
			  			</span>
			  		</div>

					</div>
				</div>
			</div>
		</div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <input type="submit" class="btn btn-success" id="save-discont-card" value="Сохранить">
      </div>
	</form>
    </div>
  </div>
</div>

<script>
	
	function removeCard() {
		$("#discount_card_id").val(0);
		$("#discount_summ").val(0);
		$("#save-discont-card").click();
		return false;
	}

	function updateCard() {
		var card_number = $("#card_number").val();
		if(card_number==''){
			return false;
		}
		$.get("/discounts/?card="+card_number, function(data){
			if(data.status=='success'){
				$(".card-search-error").hide();
				if(data.cards.length>0){
					$(".card-not-found").hide();
					$(".card-found").show();

					$("#discount_card_id").val(data.cards[0].id);
					$("#r_card_number").text(data.cards[0].card_number);
					$("#r_card_fio").text(data.cards[0].fio);
					$("#r_card_phone").text(data.cards[0].phone);
					$("#r_card_discount_value").text(data.cards[0].discount_value + '%');
					$("#r_card_balance").text(data.cards[0].balance);
					
					if(parseFloat($("#discount_max_summ").val()) > data.cards[0].balance){
						$("#discount_summ").val(data.cards[0].balance);
					} else {
						$("#discount_summ").val($("#discount_max_summ").val());
					}

					if(data.cards[0].balance>0){
						$('.discount-block').show();
					} else {
						$('.discount-block').hide();
					}
				} else {
					$(".card-not-found").show();
					$(".card-found").hide();
					$("#discount_card_id").val(0);
				}
			} else {
				$(".card-search-error").show();
				$(".card-not-found").hide();
				$(".card-found").hide();
			}
		});
	}

	function addValue(value){
		if(value==='-1'){
			if($("#card_number").val().length>0){
				$("#card_number").val($("#card_number").val().slice(0, -1));
			}			
		} else {
			$("#card_number").val($("#card_number").val() + value);
		}
		updateCard();
		return false;
	}
</script>