{% extends "base.html" %}
{% block title %}{{menu.name}}{% endblock %}
{% block body %}
<ol class="breadcrumb">
	<li><a href="{% url 'menu' %}">Меню</a></li>	  
  {% if menu.parent %}<li><a href="{% url 'menu' menu.parent.id %}">{{menu.parent.name}}</a></li> {% endif %}
  <li><a href="{% url 'menu' menu.id %}">{{menu.name}}</a></li>	  
</ol>	

<div class="row">
{% if not menu.parent %}
	{% for menu2 in menu.children %}
	<div class="col-md-4">
		<ul>
			<li><a class="label label-warning expand" href="{% url 'menu' menu2.id %}">{{menu2.name}}</a>
				<ul class="uslugi">
				{% for d in menu2.usluga %}
					<li class="{% if not d.hasSostav %}label-danger{% endif %}">
						<a href="{% url 'usluga' d.id %}">{{d.name}}</a> - {{d.price|floatformat:0}}
					</li>
				{% endfor %}
				<!--li><a href="" class="btn btn-info btn-xs add_usluga" rel="{{menu2.id}}">Добавить в {{menu2.name}}</a></li-->
				</ul>
			</li>
		</ul>
	</div>
	{% endfor %}
	<a class="btn btn-success add_menu">Добавить раздел</a>
{% else %}
	<ul class="uslugi">
	{% for d in menu.usluga %}
		<li class="{% if not d.hasSostav %}label-danger{% endif %}">
			<a href="{% url 'usluga' d.id %}">{{d.name}}</a> - {{d.price|floatformat:0}}
		</li>
	{% endfor %}
	<li><a href="" class="btn btn-info btn-xs add_usluga" rel="{{menu.id}}">Добавить</a></li>
	</ul>
{% endif %}
</div>
{% if not menu.usluga and not menu.children %}
<a href="{% url 'remove_menu' menu.id %}" class="btn btn-danger btn-remove-menu">Удалить раздел</a>
{% endif %}


<div class="modal fade" id="dlg_add_usluga" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
		<form id="form_add_usluga" role="form" action="{% url 'menu' %}" method="post">
		<input type="hidden" value="" name="menu_id" id="menu_id"/>
		<input type="hidden" value="1" name="gotoref" id="gotoref"/>
		<div class="form-group">
			<label for="usluga_name">Наименование</label>
			<input class="form-control" name="usluga_name" id="usluga_name" type="text" placeholder="Наименование" value="">
		</div>
		<div class="form-group">
			<label for="usluga_price">Цена</label>
			<input class="form-control" name="usluga_price" id="usluga_price" type="text" placeholder="Цена" value="">
		</div>	
		<div class="form-group">
			<label for="usluga_desc" class="help-block">Описание</label>
			<textarea class="form-control" name="usluga_desc" id="usluga_desc" placeholder="Описание"></textarea>
		</div>		
		
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('form_add_usluga').submit()">Сохранить</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="dlg_add_menu" tabindex="-1" role="dialog" aria-labelledby="add_menu_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="add_menu_label">Добавление раздела</h4>
      </div>
      <div class="modal-body">
		<form id="form_add_menu" role="form" action="" method="post">
			<input type="hidden" value="" name="menu_id" id="menu_id"/>

			<div class="form-group">
				<label for="menu_name">Наименование</label>
				<input class="form-control" name="menu_name" id="menu_name" type="text" placeholder="Наименование" value="">
			</div>
		
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('form_add_menu').submit()">Сохранить</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
	$(".add_usluga").click(function(){
		$("#myModalLabel").text($(this).text())
		$("#menu_id").val($(this).attr("rel"))
		$('#dlg_add_usluga').modal();
		
		return false;
	})
	$(".add_menu").click(function(){				
		$('#dlg_add_menu').modal();
		
		return false;
	})	
	$(".btn-remove-menu").click(function(){
		if($(".uslugi ul").size()>0){
			alert("Нельзя удалить раздел, пока он не пуст.")
			return false;
		}
		return confirm("Удалить раздел?")
	})
	
})
</script>

{% endblock %}
