{% extends "base_nonav.html" %}

{% block body %}

<div class="menu-buttons">
	<h1 class="tac" style="margin-left: 20px">{{CAFE_NAME}}</h2>
	<div><a class="btn-menu btn btn-lg btn-success" href="{% url 'zal' %}">{{OFFICIANT_NAME}}</a></div>
	<div><a class="btn-menu btn btn-lg btn-primary" href="{% url 'administrator' %}?admin=1">Администратор</a></div>
	<!--div><a class="btn-menu btn btn-lg btn-info" href="{% url 'buhgalter' %}">Бухгалтер</a></div-->	
</div>
{% endblock %}
