{% extends "base_nonav.html" %}
{% load i18n %}
{% load static %}
{% block extra_head %}

{% endblock %}
{% block body %}
    <div class="container">
	<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	  {% if msg %}<div class="alert alert-danger">{{msg}}</div>{% endif %}
      <form class="form-signin" method="post" action="{% url 'login' %}">
        <h2 class="form-signin-heading">{% trans "Вход" %}</h2>
		<input type="hidden" name="ref" value="{{ref}}"/>
		<div class="form-group">
        <!--input type="text" id="username" name="username" class="form-control" placeholder="{% trans 'Имя пользователя' %}" autofocus-->
		<select id="username" name="userid" class="form-control">
			{% for d in users %}
			<option value="{{d.id}}">{{d.get_full_name}}</option>
			{% endfor %}
		</select>
		</div>
		<div class="form-group">
        <input type="password" id="password" class="form-control" name="password" placeholder="{% trans 'Пароль' %}">
		</div>
	  
		  <div class="numpad">
			<table>
				<tr>
					<td><button class="btn btn-primary numbutton" title="1">1</button></td>
					<td><button class="btn btn-primary numbutton" title="2">2</button></td>
					<td><button class="btn btn-primary numbutton" title="3">3</button></td>
				</tr>
				<tr>
					<td><button class="btn btn-primary numbutton" title="4">4</button></td>
					<td><button class="btn btn-primary numbutton" title="5">5</button></td>
					<td><button class="btn btn-primary numbutton" title="6">6</button></td>
				</tr>
				<tr>
					<td><button class="btn btn-primary numbutton" title="7">7</button></td>
					<td><button class="btn btn-primary numbutton" title="8">8</button></td>
					<td><button class="btn btn-primary numbutton" title="9">9</button></td>
				</tr>
				<tr>
					<td><button class="btn btn-primary numbutton clear" title="Очистить">Очистить</button></td>
					<td><button class="btn btn-primary numbutton" title="0">0</button></td>
					<td><button class="btn btn-primary numbutton backspace" title="Стереть символ">Стереть</button></td>
				</tr>			
			</table>
		  </div>
		<div class="form-group mt10">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Войти" %}</button>
		</div>
      </form>
	  
	  
	</div>
	</div>
    </div> <!-- /container -->

	
<script>
$(function(){
	$(".numbutton").click(function(){
		if($(this).hasClass("clear")){
			$("#password").val("")
			return false;
		}
		
		if($(this).hasClass("backspace")){
			var val = $("#password").val();
			var newval = ""
			for(var i=0;i<val.length-1;i++){
				newval += val[i]
			}
			$("#password").val(newval)
			return false;
		}
		
		var num = $(this).text();
		$("#password").val($("#password").val()+num);
		return false;
	})
})
</script>
{% endblock %}
