{% extends "base.html" %}
{% block title %}Меню{% endblock %}
{% block body %}
<h2>Меню</h2>
<div class="row">
	{% for menu1 in menu %}
	<div class="col-md-3">
		<p><a class="menu-header label label-success expand" title="{{menu1.id}}" href="{% url 'menu' menu1.id %}">{{menu1.name}}</a></p>
		<ul class="menu-list">
		{% for menu2 in menu1.children %}
			<li><a class="submenu-header label label-warning expand" href="{% url 'menu' menu2.id %}">{{menu2.name}}</a>
				<ul>
				{% for d in menu2.usluga %}
					<li class="{% if not d.hasSostav %}label-danger{% endif %}">
						<a href="{% url 'usluga' d.id %}">{{d.name}}</a> - {{d.price|floatformat:0}}
					</li>
				{% endfor %}
				<!--li><a href="" class="btn btn-info btn-xs add_usluga" rel="{{menu2.id}}">Добавить в {{menu2.name}}</a></li-->
				</ul>
			</li>
		{% endfor %}
		</ul>
	</div>
	{% endfor %}
</div>
{% endblock %}
