{% extends "base_nonav.html" %}
{% load i18n %}
{% load static %}
{% block title %}Управление музыкой{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% get_static_prefix %}css/jplayer.music.css" />
{% endblock %}

{% block body %}

    <!-- player -->
    <div id="jquery_jplayer_1" class="jp-jplayer">
    </div>
    <div id="jp_container_1" class="jp-audio">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <ul class="jp-controls">
                    <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                    <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                    <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
                </ul>
                <div class="jp-progress">
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar">
                        </div>
                    </div>
                </div>
                <div class="jp-subprogress">
                    <div class="jp-current-time">
                    </div>
                    <div class="jp-duration">
                    </div>
                </div>
                <div class="jp-volume-bar">
                    <div class="jp-volume-bar-value">
                    </div>
                </div>
                <div class="jp-time-holder">
                    <ul class="jp-toggles">
                        <li><a title="repeat" tabindex="1" class="jp-repeat" href="javascript:;">Повторять</a></li>
                        <li><a title="repeat off" tabindex="1" class="jp-repeat-off" href="javascript:;"
                            style="display: none;">Не повторять</a></li>
                    </ul>
                </div>
            </div>
            <div class="jp-no-solution">
                <span>Требуется флеш-плагин</span> Для проигрывания медиа необходимо скачать и установить
                <a href="http://get.adobe.com/ru/flashplayer/" target="_blank">Adobe Flash Plugin</a>.
            </div>
            <div class="title_song_name">
                <h2></h2>
            </div>
        </div>		
    </div>
	<span id="music_name"></span>
    <input type="hidden" id="current_plist_id" value="" />
	<button class="btn btn-info btn-update" rel="{% url 'music' %}?s=1" style="position: absolute;right:0px;top: 0px;">обновить</button>
    <!-- end player -->
	<div id="music_list" class="tac">
	{% include "music_list.htm" %}
	</div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript" src="{% get_static_prefix %}js/swfobject.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/audio_player.js"></script>
<script>
$(function(){
	
	$(".btn-update").click(function(){
		$("#music_list").html("<img src='/static/img/hypnotoad.gif' alt='обновление'/>")
		$.get($(this).attr("rel"),function(data){
			$("#music_list").html(data)
			$(".audio[fid="+CURRENT_MUSIC+"]").addClass("playing play_text")
		})
	})
	
	$(".music_move").live('click',function(){
		$("#music_list").html("<img src='/static/img/hypnotoad.gif' alt='обновление'/>")
		$.get($(this).attr("href"),function(){
			$(".btn-update").click()
		})		
		return false;
	})
})
</script>
{% endblock %}
