{% load static %}
<style>
.music_down{
	position: absolute;
	top: 20px;
	right: 1px;
}
.music_up{
	cursor: pointer;
	text-decoration: none;
	position: absolute;
	top: 1px;
	right: 1px;
}
.music_down:hover,
.music_up:hover{text-decoration:none;}
</style>
<div class="row">
{% for d in plist %}
	<div class="col-md-4">
	<h4 title="{{d.path}}">{{d.name}}</h4>
	<ul class="list-group">
	{% for x in d.music %}
		<li class="list-group-item tal">
			<a href="" title="{{x.fpath}}" class="audio" fid="{{x.id}}" role="{{d.id}}" rel="{% get_static_prefix %}mp3/{{d.id}}/{{x.fname|iriencode}}">{{forloop.counter}}. {{x.title}}</a>
			{% if not forloop.first %}
			<a class="glyphicon glyphicon-circle-arrow-up music_move music_up" href="{% url 'music_up' x.id %}"></a>
			{% endif %}
			{% if not forloop.last %}
			<a class="glyphicon glyphicon-circle-arrow-down music_move music_down" href="{% url 'music_down' x.id %}"></a>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
	</div>
{% endfor %}
</div>