<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<style>
.table{width:500pt}
.width100{width:500pt}
table tr td,
h3,
body{
	font-size: 24pt;
}
.tar{
	text-align:right;
}
</style>
</head>
<body style="width:800pt">
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<center style="font-size:26pt">"{{opt_name}}"</center>
		<center>{{opt_addr}}</center>
		{% if is_check %}
			{% if opt_inn %}<center>ИНН {{opt_inn}}</center>{% endif %}
			{% if opt_ogrn %}<center>ОГРН {{opt_ogrn}}</center>{% endif %}
		{% endif %}
		{% if opt_phone %}<center>{{opt_phone}}</center>{% endif %}
		<p>Чек #{{s.id}} Стол #{{s.stol.id}} Официант: {{s.user_open.get_full_name}}</p>
		<p>Открыт {{s.dt_open|date:"d.m.y H:i"}} {% now "H:i"%}</p>
		<p></p>
		{% if not s.hasZakaz %}<span class="alert width100 no-info">пустой</span>{% endif %}
		
		<table style="width:800pt">
		<tr>
			<td style="width: 600pt">Наименование&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>Кол-во</td>
			<td>Сумма</td>
		</tr>
		<tr>
			
		{% for zakaz in s.zakazes %}
			{% if zakaz %}
				{% for d in zakaz %}
				<tr class='usluga' rel='{{d.usluga.id}}'>
					<td style="width: 500pt">{{d.usluga.get_check_name}}</td>
					<td class='cnt tar' rel='0'>{{d.cnt}}</td>
					
					<td class='total_price tar'>{{d.price|floatformat}}</td>
				</tr>
				{% endfor %}
			{% endif %}
		{% endfor %}		

		{% if s.skidka %}
		<tr><td class="width100"></td><td></td><td class="tar"></td></tr>
		<tr><td class="width100">Итого без скидки:</td><td></td><td class="tar">{{s.calcPrice|floatformat:2}}</td></tr>
		<tr><td class="width100">Скидка:</td><td></td><td class="tar">{{s.skidka}}%</td></tr>
		<tr><td class="width100"><b>Итого:</b></td><td></td><th class="tar">{{s.calcPriceSkidka|floatformat:2}} р.</th></tr>
		{% else %}
		<tr><td class="width100"><b>Итого:</b></td><td></td><th class="tar">{{s.calcPrice|floatformat:2}} р.</th></tr>
		{% endif %}		
		{% if s.discount_card %}
		<tr><td class="width100" colspan="3">Баланс накопительной карты: {{s.discount_card.balance}}</td></tr>
		{% endif %}
		</table>
		<p>НДС (18%) в сумму счета включен</p>
		<p>&nbsp;</p>
		{% if s.prim %}<p><b>Закрыто с примечанием: {{s.prim}}</b></p>{% endif %}
		{% if not is_check %}
		<center>
			
			<p>Вознаграждение официанту приветствуется,</p>
			<p>но всегда остается на Ваше усмотрение.</p>
		</center>
		{% endif %}
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>-------------------------------------------------------------------</p>
	


</body>
</html>
