{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Приход{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery-ui-1.10.4.custom.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.4.custom.min.js"></script>
  
  <style>
  #sostav input{
	font-size: 100%;
	padding: 6px 0px;
  }
  </style>
{% endblock %}

{% block body %}
<h3>Приход товара {{menu.name|default:""}}</h3>
<p><input type="text" class="form-control date" value="{{dt1|date:'d.m.Y'}}" style="width:100px"/></p>

<form method="post" action="" id="form_prihod">
<table class="table table-hover" id="sostav">
<tr>
	<th>Когда</th>
	<th style="width:100%">Наименование</th>
	<th class="tac">Сколько единиц</th>
	<th class="tac">Объем единицы (г,мл,ш)</th>
	<th class="tac">Итого (г,мл,ш)</th>
	<th class="tac">Цена за единицу</th>
	<th class="tac">Цена итого</th>
	<th class="tac">Примечание</th>
	<th></th>
</tr>
{% for d in prihod %}
<tr>
	<td>{{d.dt|date:"d.m.Y"}}</td>
	<td style="width:100%">
	{{d.tovar.name}}
	</td>
	<td class="tar">{{d.cnt1|floatformat|intcomma}}</td>
	<td class="tar">{{d.volume1|floatformat:0|intcomma}}</td>	
	<td class="tar">{{d.volume|floatformat:0|intcomma}}</td>	
	<td class="tar">{{d.price1|floatformat:0|intcomma}}</td>	
	<td class="tar">{{d.price|floatformat:0|intcomma}}</td>	
	<td>{{d.prim|default:""}}</td>
	<td><a class="btn btn-info btn-xs mt6 btn-remove-sostav" href="">удалить</a></td>
</tr>
{% endfor %}
</table>
{% if may_add %}
	<button class="btn btn-primary btn_add">Добавить</button>
	<button class="btn btn-primary" onclick="document.getElementById('form_prihod').submit()">Сохранить</button>
{% endif %}
</form>
<table class="dn" id="shablon_add">
<tr>
	<td>
	</td>
	<td style="width:100%" class="select_tovar">
		<select name="tovar[]" >
		{% for t in tovar %}
			<option value="{{t.id}}">{{t.name}}</option>
		{% endfor %}
		</select>
	</td>
	<td><input class="form-control tar recalc cnt1 w50px" type="text" name="cnt1[]" value="1" /></td>
	<td><input class="form-control tar recalc volume1 w70px" type="text" name="volume1[]" value="" /></td>		
	<td><input class="form-control tar volume w70px" type="text" name="volume[]" /></td>	
	<td><input class="form-control tar recalc price1 w70px" type="text" name="price1[]" value="0" /></td>	
	<td><input class="form-control tar recalc price w70px" type="text" name="price[]" value="0" /></td>	
	<td><textarea class="form-control tar prim width100" name="prim[]"></textarea></td>	
	<td><a class="btn btn-info btn-xs mt6 btn-remove-sostav" href="">убрать</a></td>
</tr>
</table>

<div class="dn" id="tovar_values">
{% for d in tovar %}
<input type="hidden" value="{{d.volume}}" rel="{{d.id}}"/>
{% endfor %}
</div>

<script>
function recalcVolume(inps)
{
	var cnt1 = inps.find(".cnt1").val()
	cnt1 = cnt1.split(",").join(".")
	
	inps.find(".volume").val(parseFloat(cnt1)*parseInt(inps.find(".volume1").val()))
	inps.find(".price").val(parseFloat(cnt1)*parseInt(inps.find(".price1").val()))
}

$(function(){
	$(".btn_add").click(function(){
		var elem = $($("#shablon_add").html()).clone()
		elem.find(".select_tovar select").addClass("tovar").combobox()

		$("#sostav").append(elem)
		elem.find(".custom-combobox-input").focus()
		//$("#sostav").find("select").get(-1).focus()
		return false;
	
	})
	
	$(".custom-combobox-input").live('focusout',function(){
		var id = $(this).parent().parent().find("select").val()
		var value = $("#tovar_values").find("input[rel="+id+"]").val()
		$($(this).parent().parent().parent().find("input")[2]).val(value)
		recalcVolume($($(this).parent().parent().parent()))
	})

	
	$(".recalc").live('keyup',function(){
		var inps = $(this).parent().parent()
		recalcVolume(inps)
	})
	
	$(".btn-remove-sostav").live('click',function(){
		$(this).parent().parent().remove();
		return false;
	})
	
	$( ".date" ).datepicker({
		dateFormat:'dd.mm.yy',
		monthNames:[ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
		dayNamesMin:["вс","пн","вт","ср","чт","пт","сб"],
		onSelect:function(dt){
			window.location='/prihod/?dt1='+dt
		}
	});

	
})
</script>

<style>
.custom-combobox {
	position: relative;
	display: inline-block;
	margin-top: 3px;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	height: 30px;
	/* support: IE7 */
	*height: 1.7em;
	*top: 0.1em;
}

.select_tovar .custom-combobox-input {
	margin: 0;
	padding: 0.3em;
	width: 170px;	
}
</style>

<script>
(function( $ ) {
	$.widget( "custom.combobox", {
		_create: function() {
			this.wrapper = $( "<span>" )
				.addClass( "custom-combobox" )
				.insertAfter( this.element );

			this.element.hide();
			this._createAutocomplete();
			this._createShowAllButton();
		},

		_createAutocomplete: function() {
			var selected = this.element.children( ":selected" ),
				value = "";// selected.val() ? selected.text() : "";

			this.input = $( "<input>" )
				.appendTo( this.wrapper )
				.val( value )
				.attr( "title", "" )
				.addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
				.autocomplete({
					delay: 0,
					minLength: 0,
					source: $.proxy( this, "_source" )
				})
				.tooltip({
					tooltipClass: "ui-state-highlight"
				});

			this._on( this.input, {
				autocompleteselect: function( event, ui ) {
					ui.item.option.selected = true;
					this._trigger( "select", event, {
						item: ui.item.option
					});
				},

				autocompletechange: "_removeIfInvalid"
			});
		},

		_createShowAllButton: function() {
			var input = this.input,
				wasOpen = false;

			$( "<a>" )
				.attr( "tabIndex", -1 )
				.attr( "title", "Показать весь список" )
				.tooltip()
				.appendTo( this.wrapper )
				.button({
					icons: {
						primary: "ui-icon-triangle-1-s"
					},
					text: false
				})
				.removeClass( "ui-corner-all" )
				.addClass( "custom-combobox-toggle ui-corner-right" )
				.mousedown(function() {
					wasOpen = input.autocomplete( "widget" ).is( ":visible" );
				})
				.click(function() {
					input.focus();

					// Close if already visible
					if ( wasOpen ) {
						return;
					}

					// Pass empty string as value to search for, displaying all results
					input.autocomplete( "search", "" );
				});
		},

		_source: function( request, response ) {
			var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i" );
			response( this.element.children( "option" ).map(function() {
				var text = $( this ).text();
				if ( this.value && ( !request.term || matcher.exec(text) ) )
				//if ( this.value && ( !request.term || re.exec(text) ) )
					return {
						label: text,
						value: text,
						option: this
					};
			}) );
		},

		_removeIfInvalid: function( event, ui ) {

			// Selected an item, nothing to do
			if ( ui.item ) {
				return;
			}

			// Search for a match (case-insensitive)
			var value = this.input.val(),
				valueLowerCase = value.toLowerCase(),
				valid = false;
			this.element.children( "option" ).each(function() {
				if ( $( this ).text().toLowerCase() === valueLowerCase ) {
					this.selected = valid = true;
					return false;
				}
			});
			// Found a match, nothing to do
			if ( valid ) {
				return;
			}

			// Remove invalid value
			this.input
				.val( "" )
				.attr( "title", value + " отсутствует в списке продуктов" )
				.tooltip( "open" );
			this.element.val( "" );
			this._delay(function() {
				this.input.tooltip( "close" ).attr( "title", "" );
			}, 2500 );
			this.input.data( "ui-autocomplete" ).term = "";
		},

		_destroy: function() {
			this.wrapper.remove();
			this.element.show();
		}
	});
})( jQuery );
</script>
{% endblock %}
