<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<style>
.table{width:500pt}
.width100{width:500pt}
table tr td,
h3,
body{
	font-size: 24pt;
}
.tar{
	text-align:right;
}
</style>
</head>
<body style="width:800pt">
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>Бар Чек #{{s.id}} Стол #{{s.stol.id}}</p>
	<p>{% now "d.m.Y H:i" %}</p>
	<p>Официант: {{s.user_open.get_full_name}}</p>
	<p></p>
	
	<table style="width:800pt">
	<tr>
		<td style="width: 600pt">Наименование</td>
		<td>Кол-во</td>
	</tr>
	<tr>
	{% for d in uss %}
	<tr class='usluga' rel='{{d.usluga.id}}'>
		<td style="width: 600pt">{{d.0.name}}</td>
		<td class='cnt tar' rel='0'>{{d.1|floatformat}}</td>
	</tr>
	{% endfor %}
	</table>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>-------------------------------------------------------------------</p>

	<hr/>
</body>
</html>
