{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Принтеры{% endblock %}
{% block extra_head %}

{% endblock %}

{% block body %}
<h3>Управление принтерами</h3>
<table class="table">
<tr>
	<th>Наименование</th>
	<th>Назначение</th>
</tr>
{% for p in printers %}
<tr>
	<td title="{{p.pid}}">{{p.name}}</td>
	<td>
		<select rel="{% url 'printers' p.id %}" class="form-control setprinter">
			<option value="0" {% if p.target == 0 %}selected="selected"{% endif %}>не используется</option>
			<option value="1" {% if p.target == 1 %}selected="selected"{% endif %}>чеки</option>
			<option value="2" {% if p.target == 2 %}selected="selected"{% endif %}>кухня</option>
			<option value="10" {% if p.target == 10 %}selected="selected"{% endif %}>кухня/чеки</option>
		</select>
	</td>
</tr>
{% endfor %}
</table>
<script>
$(function(){
	$(".setprinter").change(function(){
		window.location = $(this).attr("rel")+"?t="+$(this).val()	
	})

})
</script>
{% endblock %}
