{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Расход{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery-ui-1.10.4.custom.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.4.custom.min.js"></script>
{% endblock %}

{% block body %}
<h3>Расход товара {{tovar.name}}</h3>
<p>{% now "d.m.Y" %}</p>
<form method="post" action="" id="form_prihod">
<table class="table table-hover" id="sostav">
<tr>
	<th>Когда</th>
	<th>Наименование</th>
	<th class="tac">Объем (г,мл,шт)</th>
	<th class="tac">Примечание</th>
	<th></th>
</tr>
{% for d in rs %}
<tr>
	<td>{{d.dt|date:"d.m.Y H:i"}}</td>
	<td style="width: 300px">
	{{d.tovar.name}}
	</td>
	<td class="tar">{{d.volume|floatformat:0|intcomma}}</td>	
	<td>{% if d.usluga %}<a href="{% url 'usluga' d.usluga.id %}">{{d.prim|default:""}}</a>{% else %}{{d.prim|default:""}}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% if is_buh %}
<button class="btn btn-primary btn_add">Добавить</button>
<button class="btn btn-primary" onclick="document.getElementById('form_prihod').submit()">Сохранить</button>
{% endif %}
</form>

{% if pr %}
<h3>Приход товара</h3>
<p>{% now "d.m.Y" %}</p>
<form method="post" action="" id="form_prihod">
<table class="table" id="sostav">
<tr>
	<th>Когда</th>
	<th>Наименование</th>
	<th class="tac">Сколько</th>
	<th class="tac">Объем единицы (г,мл,ш)</th>
	<th class="tac">Объем (г,мл,шт)</th>
	<th class="tac">Цена</th>
	<th class="tac">Примечание</th>
	<th></th>
</tr>
{% for d in pr %}
<tr>
	<td>{{d.dt|date:"d.m.Y H:i"}}</td>
	<td style="width: 300px">
	{{d.tovar.name}}
	</td>
	<td class="tar">{{d.cnt1|floatformat:0|intcomma}}</td>
    <td class="tar">{{d.volume1|floatformat:0|intcomma}}</td>	
	<td class="tar">{{d.volume|floatformat:0|intcomma}}</td>	
	<td class="tar">{{d.price|floatformat:0|intcomma}}</td>	
	<td>{% if d.usluga %}<a href="{% url 'usluga' d.usluga.id %}">{{d.prim|default:""}}</a>{% else %}{{d.prim|default:""}}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% endif %}
<table class="dn" id="shablon_add">
<tr>
	<td></td>
	<td style="width: 300px">
		<input type="hidden" name="tovar[]" value="{{tovar.id}}"/>
		{{tovar.name}}
	</td>
	<td><input class="form-control tar volume" type="text" name="volume[]" /></td>	
	<td><textarea class="form-control tar prim" name="prim[]"></textarea></td>	
	<td><a class="btn btn-info btn-xs mt6 btn-remove-sostav" href="">убрать</a></td>
</tr>
</table>


<script>

$(function(){
	$(".btn_add").click(function(){
		var elem = $($("#shablon_add").html()).clone()
		elem.find("select").addClass("tovar").combobox()
		$("#sostav").append(elem)
		elem.find(".custom-combobox-input").focus()
		//$("#sostav").find("select").get(-1).focus()
		return false;
	
	})
	
	$(".custom-combobox-input").live('focusout',function(){
		var id = $(this).parent().parent().find("select").val()
		var value = $("#tovar_values").find("input[rel="+id+"]").val()
		$($(this).parent().parent().parent().find("input")[3]).val(value)
	})
	
	$(".recalc").live('keyup',function(){
		//alert('x')
		var inps = $(this).parent().parent().find("input")
		//console.debug(inps)
		$(inps[4]).val(parseInt($(inps[3]).val())*parseInt($(inps[2]).val())*parseInt($(inps[1]).val()))
	})
	
})
</script>

<style>
.custom-combobox {
	position: relative;
	display: inline-block;
	margin-top: 3px;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* support: IE7 */
	*height: 1.7em;
	*top: 0.1em;
}
.custom-combobox-input {
	margin: 0;
	padding: 0.3em;
	width: 245px;		
}
</style>
<script>
(function( $ ) {
	$.widget( "custom.combobox", {
		_create: function() {
			this.wrapper = $( "<span>" )
				.addClass( "custom-combobox" )
				.insertAfter( this.element );

			this.element.hide();
			this._createAutocomplete();
			this._createShowAllButton();
		},

		_createAutocomplete: function() {
			var selected = this.element.children( ":selected" ),
				value = "";// selected.val() ? selected.text() : "";

			this.input = $( "<input>" )
				.appendTo( this.wrapper )
				.val( value )
				.attr( "title", "" )
				.addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
				.autocomplete({
					delay: 0,
					minLength: 0,
					source: $.proxy( this, "_source" )
				})
				.tooltip({
					tooltipClass: "ui-state-highlight"
				});

			this._on( this.input, {
				autocompleteselect: function( event, ui ) {
					ui.item.option.selected = true;
					this._trigger( "select", event, {
						item: ui.item.option
					});
				},

				autocompletechange: "_removeIfInvalid"
			});
		},

		_createShowAllButton: function() {
			var input = this.input,
				wasOpen = false;

			$( "<a>" )
				.attr( "tabIndex", -1 )
				.attr( "title", "Показать все ингридиенты" )
				.tooltip()
				.appendTo( this.wrapper )
				.button({
					icons: {
						primary: "ui-icon-triangle-1-s"
					},
					text: false
				})
				.removeClass( "ui-corner-all" )
				.addClass( "custom-combobox-toggle ui-corner-right" )
				.mousedown(function() {
					wasOpen = input.autocomplete( "widget" ).is( ":visible" );
				})
				.click(function() {
					input.focus();

					// Close if already visible
					if ( wasOpen ) {
						return;
					}

					// Pass empty string as value to search for, displaying all results
					input.autocomplete( "search", "" );
				});
		},

		_source: function( request, response ) {
			var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i" );
			response( this.element.children( "option" ).map(function() {
				var text = $( this ).text();
				if ( this.value && ( !request.term || matcher.exec(text) ) )
				//if ( this.value && ( !request.term || re.exec(text) ) )
					return {
						label: text,
						value: text,
						option: this
					};
			}) );
		},

		_removeIfInvalid: function( event, ui ) {

			// Selected an item, nothing to do
			if ( ui.item ) {
				return;
			}

			// Search for a match (case-insensitive)
			var value = this.input.val(),
				valueLowerCase = value.toLowerCase(),
				valid = false;
			this.element.children( "option" ).each(function() {
				if ( $( this ).text().toLowerCase() === valueLowerCase ) {
					this.selected = valid = true;
					return false;
				}
			});

			// Found a match, nothing to do
			if ( valid ) {
				return;
			}

			// Remove invalid value
			this.input
				.val( "" )
				.attr( "title", value + " отсутствует в списке продуктов" )
				.tooltip( "open" );
			this.element.val( "" );
			this._delay(function() {
				this.input.tooltip( "close" ).attr( "title", "" );
			}, 2500 );
			this.input.data( "ui-autocomplete" ).term = "";
		},

		_destroy: function() {
			this.wrapper.remove();
			this.element.show();
		}
	});
})( jQuery );

$(function() {
	$( ".tovar" ).combobox();
	$( "#toggle" ).click(function() {
		$( "#combobox" ).toggle();
	});
});
</script>
{% endblock %}
