{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Дополнительные расходы{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery-ui-1.10.4.custom.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.4.custom.min.js"></script>
{% endblock %}

{% block body %}
<h3>Дополнительные расходы</h3>
<div>
	<div class="fl" style="width: 250px">
	<input type="text" class="fl form-control date1" value="{{dt1|date:'d.m.Y'}}" style="width:100px"/>
	<input type="text" class="form-control date2" value="{{dt2|date:'d.m.Y'}}" style="width:100px"/>
	</div>
	<div class="fl">
	<a class="btn btn-info" href="{% url 'report_doprashod' %}">За сегодня</a>
	<div class="btn-group">
			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown">За неделю<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="{% url 'report_doprashod' %}?dt1={{wdt1_1|date:'d.m.Y'}}&amp;dt2={{wdt1_2|date:'d.m.Y'}}">эту</a></li>
				<li><a href="{% url 'report_doprashod' %}?dt1={{wdt2_1|date:'d.m.Y'}}&amp;dt2={{wdt2_2|date:'d.m.Y'}}">предыдущую</a></li>
			</ul>
	</div>

	<div class="btn-group">
			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown">За месяц<span class="caret"></span></a>
			<ul class="dropdown-menu">
			{% for m in monthes %}
				<li><a href="{% url 'report_doprashod' %}?dt1={{m.dt1|date:'d.m.Y'}}&amp;dt2={{m.dt2|date:'d.m.Y'}}">{{m.name}}</a></li>
			{% endfor %}
			</ul>
	</div>
	{% if years|length < 2 %}
	<a class="btn btn-info" href="{% url 'report_doprashod' %}?dt1={{years.0.dt1|date:'d.m.Y'}}&amp;dt2={{years.0.dt2|date:'d.m.Y'}}">За год</a>
	{% else %}
	<div class="btn-group">
			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown">За год<span class="caret"></span></a>
			<ul class="dropdown-menu">
			{% for y in years %}
				<li><a href="{% url 'report_doprashod' %}?dt1={{y.dt1|date:'d.m.Y'}}&amp;dt2={{y.dt2|date:'d.m.Y'}}">{{y.name}}</a></li>
			{% endfor %}
			</ul>
	</div>	
	{% endif %}
	
	</div>
</div>
<div class="cb"></div>
<table class="table table-hover">
<tr>
	<th>Дата</th>
	<th>Сотрудник</th>
	<th>Категория</th>
	<th>Сумма</th>
	<th>Примечание</th>
</tr>
{% for d in dr %}
<tr>
	<td>{{d.dt|date:"d.m.Y"}}</td>
	<td>{{d.user.get_full_name}}</td>
	<td>{{d.cat.name}}</td>
	<td>{{d.summ|floatformat|intcomma}}</td>
	<td>{{d.prim|default:""}}</td>
</tr>
{% endfor %}
</table>

<button data-toggle="modal" href="#dlg_add_dop"  class="btn btn-primary btn_add pull-right">Добавить</button>

<h3>Итого: <b>{{total|floatformat:0|intcomma}}</b></h3>

<div class="modal fade" id="dlg_add_dop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
		<form id="form_add_dop" role="form" action="" method="post">
		<input type="hidden" value="" name="menu_id" id="menu_id"/>
		<input type="hidden" value="1" name="gotoref" id="gotoref"/>
		<div class="form-group">
			<label for="usluga_name">Дата</label>
			<input class="form-control" name="dt" id="dt" type="text" placeholder="Дата" value="{% now 'd.m.Y' %}">
		</div>		
		<div class="form-group">
			<label for="usluga_name">Сотрудник</label>
			<select class="form-control" name="user" id="user" type="text" placeholder="Сотрудник" value="">
			{% for d in users %}
				<option value="{{d.id}}">{{d.get_full_name}}</option>
			{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="usluga_price">Категория</label>
			<select class="form-control" name="cat" id="cat" type="text" placeholder="Категория" value="">
			{% for d in cats %}
				<option value="{{d.id}}">{{d.name}}</option>
			{% endfor %}
			</select>
		</div>	
		<div class="form-group">
			<label for="usluga_price">Сумма</label>
			<input class="form-control" name="summ" id="summ" type="text" placeholder="Сумма" value="">
		</div>			
		<div class="form-group">
			<label for="usluga_desc" class="help-block">Примечание</label>
			<textarea class="form-control" name="prim" id="prim" placeholder="Примечание"></textarea>
		</div>		
		
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('form_add_dop').submit()">Сохранить</button>
      </div>
    </div>
  </div>
</div>





<script>

$(function(){
	$( ".date1" ).datepicker({
		dateFormat:'dd.mm.yy',
		monthNames:[ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
		dayNamesMin:["вс","пн","вт","ср","чт","пт","сб"],
		onSelect:function(dt){
			window.location='/report/doprashod/?dt1='+$(".date1").val()+'&dt2='+$(".date2").val()
		}
	});
	
	$( ".date2" ).datepicker({
		dateFormat:'dd.mm.yy',
		monthNames:[ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
		dayNamesMin:["вс","пн","вт","ср","чт","пт","сб"],
		onSelect:function(dt){
			window.location='/report/doprashod/?dt1='+$(".date1").val()+'&dt2='+$(".date2").val()
		}
	});
	
	$( "#dt" ).datepicker({
		dateFormat:'dd.mm.yy',
		monthNames:[ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
		dayNamesMin:["вс","пн","вт","ср","чт","пт","сб"]
	});	
})
</script>
{% endblock %}
