{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Расходы{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery-ui-1.10.4.custom.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.4.custom.min.js"></script>
{% endblock %}

{% block body %}
<h3>Приход</h3>
<div>
	<div class="fl" style="width: 250px">
	<input type="text" class="fl form-control date1" value="{{dt1|date:'d.m.Y'}}" style="width:100px"/>
	<input type="text" class="form-control date2" value="{{dt2|date:'d.m.Y'}}" style="width:100px"/>
	</div>
	<div class="fl">
	<a class="btn btn-info" href="{% url 'report_prihod' %}">За сегодня</a>
	<div class="btn-group">
			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown">За неделю<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="{% url 'report_prihod' %}?dt1={{wdt1_1|date:'d.m.Y'}}&amp;dt2={{wdt1_2|date:'d.m.Y'}}">эту</a></li>
				<li><a href="{% url 'report_prihod' %}?dt1={{wdt2_1|date:'d.m.Y'}}&amp;dt2={{wdt2_2|date:'d.m.Y'}}">предыдущую</a></li>
			</ul>
	</div>

	<div class="btn-group">
			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown">За месяц<span class="caret"></span></a>
			<ul class="dropdown-menu">
			{% for m in monthes %}
				<li><a href="{% url 'report_prihod' %}?dt1={{m.dt1|date:'d.m.Y'}}&amp;dt2={{m.dt2|date:'d.m.Y'}}">{{m.name}}</a></li>
			{% endfor %}
			</ul>
	</div>
	{% if years|length < 2 %}
	<a class="btn btn-info" href="{% url 'report_prihod' %}?dt1={{years.0.dt1|date:'d.m.Y'}}&amp;dt2={{years.0.dt2|date:'d.m.Y'}}">За год</a>
	{% else %}
	<div class="btn-group">
			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown">За год<span class="caret"></span></a>
			<ul class="dropdown-menu">
			{% for y in years %}
				<li><a href="{% url 'report_prihod' %}?dt1={{y.dt1|date:'d.m.Y'}}&amp;dt2={{y.dt2|date:'d.m.Y'}}">{{y.name}}</a></li>
			{% endfor %}
			</ul>
	</div>	
	{% endif %}
	
	</div>
</div>
<div class="cb"></div>
{% for p in pr %}
	{% if p.pr %}
	<h3>{{p.name}}</h3>
	<table class="table table-hover mt10" id="sostav">
	<tr>
		<th>Наименование</th>
		<th class="tar">Количество</th>
		<th class="tar">Сумма</th>
	</tr>
	{% for d in p.pr %}
	<tr>
		<td style="width: 300px">
		{{d.name}}
		</td>
		<td class="tar">{{d.volume|floatformat:0|intcomma}}</td>	
		<td class="tar">{{d.price|floatformat:0|intcomma}}</td>	
	</tr>
	{% endfor %}
	<tr>
		<th style="width: 300px">
		Итого
		</th>
		<td class="tar"></td>	
		<th class="tar">{{p.total|floatformat:0|intcomma}}</th>	
	</tr>
	</table>
	{% endif %}
{% endfor %}
<hr/>
<h3>Итого: <b>{{total|floatformat:0|intcomma}}</b></h3>


<script>

$(function(){
	$( ".date1" ).datepicker({
		dateFormat:'dd.mm.yy',
		monthNames:[ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
		dayNamesMin:["вс","пн","вт","ср","чт","пт","сб"],
		onSelect:function(dt){
			window.location='/report/prihod/?dt1='+$(".date1").val()+'&dt2='+$(".date2").val()
		}
	});
	
	$( ".date2" ).datepicker({
		dateFormat:'dd.mm.yy',
		monthNames:[ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
		dayNamesMin:["вс","пн","вт","ср","чт","пт","сб"],
		onSelect:function(dt){
			window.location='/report/prihod/?dt1='+$(".date1").val()+'&dt2='+$(".date2").val()
		}
	});
})
</script>
{% endblock %}
