{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Доход{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery-ui-1.10.4.custom.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.4.custom.min.js"></script>
{% endblock %}

{% block body %}
<h3>Доход</h3>
<div>
	<div class="fl" style="width: 250px">
	<input type="text" class="fl form-control date1" value="{{dt1|date:'d.m.Y'}}" style="width:100px"/>
	<input type="text" class="form-control date2" value="{{dt2|date:'d.m.Y'}}" style="width:100px"/>
	</div>
	<div class="fl">
	<a class="btn btn-info" href="{% url 'report_dohod' %}">За сегодня</a>
	<a class="btn btn-info" href="{% url 'report_dohod' %}?dt1={{prev_dt|date:'d.m.Y'}}&amp;dt2={{cdt|date:'d.m.Y'}}">За вчера</a>
	<div class="btn-group">
			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown">За неделю<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="{% url 'report_dohod' %}?dt1={{wdt1_1|date:'d.m.Y'}}&amp;dt2={{wdt1_2|date:'d.m.Y'}}">эту</a></li>
				<li><a href="{% url 'report_dohod' %}?dt1={{wdt2_1|date:'d.m.Y'}}&amp;dt2={{wdt2_2|date:'d.m.Y'}}">предыдущую</a></li>
			</ul>
	</div>

	<div class="btn-group">
			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown">За месяц<span class="caret"></span></a>
			<ul class="dropdown-menu">
			{% for m in monthes %}
				<li><a href="{% url 'report_dohod' %}?dt1={{m.dt1|date:'d.m.Y'}}&amp;dt2={{m.dt2|date:'d.m.Y'}}">{{m.name}}</a></li>
			{% endfor %}
			</ul>
	</div>
	{% if years|length < 2 %}
	<a class="btn btn-info" href="{% url 'report_dohod' %}?dt1={{years.0.dt1|date:'d.m.Y'}}&amp;dt2={{years.0.dt2|date:'d.m.Y'}}">За год</a>
	{% else %}
	<div class="btn-group">
			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown">За год<span class="caret"></span></a>
			<ul class="dropdown-menu">
			{% for y in years %}
				<li><a href="{% url 'report_dohod' %}?dt1={{y.dt1|date:'d.m.Y'}}&amp;dt2={{y.dt2|date:'d.m.Y'}}">{{y.name}}</a></li>
			{% endfor %}
			</ul>
	</div>	
	{% endif %}
	
	</div>
</div>
<div class="cb"></div>
<h3>По сотрудникам</h3>
<table class="table width50 table-hover">
{% for d in oficiants %}
<tr>
	<th>{{d.user.get_full_name}}</th>
	<td class="tar">{{d.total|floatformat:0|intcomma}}</td>
</tr>
{% endfor %}
</table>
<h3>Итого: <b>{{total_of|floatformat:0|intcomma}}</b></h3>
<h3>По меню</h3>
{% for p in permenu %}
	{% if p.pr %}
	<div>
	<table class="width50 table display_next table-hover">
	<tr>
		<th><h4>{{p.name}}</h4></th>
		<th class="tar"><h4>{{p.total|floatformat:0|intcomma}}</h4></th>
	</tr>
	</table>
	
	<table class="table table-hover mt10 dn" id="sostav">
	<tr>
		<th>Наименование</th>
		<th class="tar">Количество</th>
		<th class="tar">Сумма</th>
	</tr>
	{% for d in p.pr %}
	<tr>
		<td style="width: 300px">
		{{d.name}}
		</td>
		<td class="tar">{{d.volume|floatformat:0|intcomma}}</td>	
		<td class="tar">{{d.price|floatformat:0|intcomma}}</td>	
	</tr>
	{% endfor %}
	<tr>
		<th style="width: 300px">
		Итого
		</th>
		<td class="tar"></td>	
		<th class="tar">{{p.total|floatformat:0|intcomma}}</th>	
	</tr>
	</table>
	</div>
	{% endif %}
{% endfor %}
<hr/>
<h3>Итого: <b>{{total_summ|floatformat:0|intcomma}}</b> Карта: {{card_summ|floatformat:0}}  Наличные {{nal_summ|floatformat:0}}</h3>

<hr/>

<h3>Расходы: <b>{{total_rashod|floatformat:0|intcomma}}</b> Чистый доход: <b>{{total_clear|floatformat:0|intcomma}}</b></h3>




<script>

$(function(){
	$( ".date1" ).datepicker({
		dateFormat:'dd.mm.yy',
		monthNames:[ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
		dayNamesMin:["вс","пн","вт","ср","чт","пт","сб"],
		onSelect:function(dt){
			window.location='/report/dohod/?dt1='+$(".date1").val()+'&dt2='+$(".date2").val()
		}
	});
	
	$( ".date2" ).datepicker({
		dateFormat:'dd.mm.yy',
		monthNames:[ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
		dayNamesMin:["вс","пн","вт","ср","чт","пт","сб"],
		onSelect:function(dt){
			window.location='/report/dohod/?dt1='+$(".date1").val()+'&dt2='+$(".date2").val()
		}
	});
	
	$(".display_next").click(function(){
		$(this).parent().find("table:eq(1)").toggleClass("dn")
	
	})
})
</script>
{% endblock %}
