{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Статистика{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery-ui-1.10.4.custom.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.4.custom.min.js"></script>
{% endblock %}

{% block body %}
<h3>Статистика</h3>

<table class="table">
<tr>
		<th></th>
	{% for d in data %}
		<th class="{% cycle 'odd' '' %}">{{d.name}}</th>
	{% endfor %}
</tr>
<tr>
	<th>Доход:</th>
	{% for d in data %}
		<td class="tar {% cycle 'odd' '' %}">{{d.dohod|floatformat:0|intcomma}} р.</td>		
	{% endfor %}	
</tr>
<tr>
	<th>Средний счет:</th>
	{% for d in data %}
		<td class="tar {% cycle 'odd' '' %}">{{d.avg_schet|floatformat:0|intcomma}} р.</td>		
	{% endfor %}	
</tr>
<tr>
	<th>Лучший офицант:</th>
	{% for d in data %}
		<td class="tac {% cycle 'odd' '' %}">{{d.best_officiant}}</td>		
	{% endfor %}	
</tr>
<tr>
	<th>Самые доходные столы:</th>
	{% for d in data %}
		<td class="tac {% cycle 'odd' '' %}">
			
			{% for x in d.max_stol %}{{x.name}}<br/>{% endfor %}
		</td>		
	{% endfor %}	
</tr>
<tr>
	<th>Чаще всего заказывают:</th>
	{% for d in data %}
		<td class="{% cycle 'odd' '' %}">
			
			{% for x in d.max_usluga %}{{x.name}}<hr/>{% endfor %}
		</td>		
	{% endfor %}	
</tr>


{% endblock %}
