{% extends "base.html" %}
{% load static %}
{% block extra_head %}
{% endblock %}

{% block body %}
<h3>Отчеты</h3>


<div class="menu-buttons">
	<div><a class="btn btn-info btn-menu" href="{% url 'report_prihod' %}">Приход</a></div>
	<div><a class="btn btn-info btn-menu" href="{% url 'report_dohod' %}">Доход</a></div>
</div>


{% endblock %}
