{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Счета{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery-ui-1.10.4.custom.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.4.custom.min.js"></script>
{% endblock %}

{% block body %}

<h3>Счета ({{ss|length}})</h3>

<p><input type="text" class="form-control date" value="{{dt1|date:'d.m.Y'}}" style="width:100px"/></p>

{% for s in ss %}
<div class="panel panel-default">
	<div class="panel-heading change-dn cp">
		<span>
			#{{s.id}}. Стол <b>{{s.stol.name}}</b> 
			<small>открыт <b>{{s.user_open.get_full_name}} {{s.dt_open|date:"d.m.y H:i"}}</b></small>
			{% if s.status == 1 %}
				<small>закрыт <b>{{s.user_close.get_full_name}} {{s.dt_close|date:"d.m.y H:i"}}</b></small>
			{% else %}
				<a class="red" href="{% url 'zakaz' s.stol.id %}">счет не закрыт</a>
			{% endif %}
			<small>
				сумма <b class="{% if not s.skidka and not s.skidka_fix %}fs120{% endif %}">{{s.price|floatformat:0|intcomma}} р.</b> 
				
				{% if s.skidka %}
				скидка <b>{{s.skidka}} %</b>
				сумма со скидкой <b class="fs120">{{s.price_skidka|floatformat:0|intcomma}} р.</b>
				{%endif %}
				{% if s.skidka_fix %}
				скидка <b>{{s.skidka_fix|floatformat}} р.</b>
				сумма со скидкой <b class="fs120">{{s.price_skidka|floatformat:0|intcomma}} р.</b>
				{%endif %}
				
				{% if s.depositOst %}
					заказ {{s.calcPriceWithSkidka|floatformat}} р.
					остаток депозита {{s.depositOst|floatformat}} р.,
				{% endif %}
				
				{% if s.deposit %}
					депозит {{s.deposit|floatformat}}&nbsp;р.,
				{% endif %}
			{% if s.status == 1 %}
				оплата {% if s.card == 1%}
				 <strong>картой</strong>
				 {% else %}
				 {% if s.card == 2 %}
				 <strong>неоплачено</strong> 
				 {% else %}
				 наличными.
				 {% endif %}
				 {% endif %}
			{% endif %}
			{% if s.prim %}
				примечание: {{s.prim}}
			{% endif %}
			</small>
			
		</span>		
	</div>
	<div class="panel-body dn cd">
		<div id="schet{{forloop.counter}}" class="col-md-12">			
			{% if not s.hasZakaz %}<span class="alert width100 no-info">пустой</span>{% endif %}
			<div class="schet">
			{% if s.zakaz1 %}
			<table class='table' rel='{{s.zakaz1.0.menu.id}}'>
				<tr class='success rname'><th colspan='5'>Кухня</th></tr>
				{% for d in s.zakaz1 %}
				<tr class='usluga' rel='{{d.usluga.id}}'>
					<td class='name width100'>{{d.usluga.name}}</td>
					<td class='cnt' rel='0'>{{d.cnt}}</td>
					<td class='price1'>{{d.usluga.price|floatformat:2}}</td>
					<td class='total_price'>{{d.price|floatformat:2}}</td>
					<td><a href='#' class='dn cancel-usluga'>отменить</a></td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}
			
			{% if s.zakaz2 %}
			<table class='table' rel='{{s.zakaz2.0.menu.id}}'>
				<tr class='success rname'><th colspan='5'>Бар</th></tr>
				{% for d in s.zakaz2 %}
				<tr class='usluga' rel='{{d.usluga.id}}'>
					<td class='name width100'>{{d.usluga.name}}</td>
					<td class='cnt' rel='0'>{{d.cnt}}</td>
					<td class='price1'>{{d.usluga.price|floatformat:2}}</td>
					<td class='total_price'>{{d.price|floatformat:2}}</td>
					<td><a href='' class='dn cancel-usluga'>отменить</a></td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}	

			{% if s.zakaz3 %}
			<table class='table' rel='{{s.zakaz3.0.menu.id}}'>
				<tr class='success rname'><th colspan='5'>Кальян</th></tr>
				{% for d in s.zakaz3 %}
				<tr class='usluga' rel='{{d.usluga.id}}'>
					<td class='name width100'>{{d.usluga.name}}</td>
					<td class='cnt' rel='0'>{{d.cnt}}</td>
					<td class='price1'>{{d.usluga.price|floatformat:2}}</td>
					<td class='total_price'>{{d.price|floatformat:2}}</td>
					<td><a href='' class='dn cancel-usluga'>отменить</a></td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}	
			
			{% if s.zakaz4 %}
			<table class='table' rel='{{s.zakaz4.0.menu.id}}'>
				<tr class='success rname'><th colspan='5'>Порча имущества</th></tr>
				{% for d in s.zakaz4 %}
				<tr class='usluga' rel='{{d.usluga.id}}'>
					<td class='name width100'>{{d.usluga.name}}</td>
					<td class='cnt' rel='0'>{{d.cnt}}</td>
					<td class='price1'>{{d.usluga.price|floatformat:0|intcomma}}</td>
					<td class='total_price'>{{d.price|floatformat:0|intcomma}}</td>
					<td><a href='' class='dn cancel-usluga'>отменить</a></td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}					
			<table class='table'>
				<tr class='success rname'><th>Всего: {{s.calcPrice|floatformat:2}}</th><th>{% if s.skidka %}скидка {{s.skidka}}%</b>{% elif s.skidka_fix %}скидка {{s.skidka_fix|floatformat}} р.{% endif %} </th><th><b class="fs120">К оплате: {{s.calcPriceSkidka|floatformat}} р.</b></th></tr>
			</table>
			
			<h3>Аудит счета</h3>
			<table class='table'>
				{% for d in s.history %}
				<tr>				
					<td>{{d.dt|date:"d.m.y H:i"}}</td>
					<td>{{d.user.get_full_name}}</td>
					<td>{{d.text}}</td>
				</tr>
				{% endfor %}
			</table>			
			<a href="{% url 'precheck' s.id %}" class="btn btn-info fr">Напечатать пречек</a>
			</div>
		</div>
	</div>
</div>

{% endfor %}


<script>
$(function(){

	$( ".date" ).datepicker({
		dateFormat:'dd.mm.yy',
		monthNames:[ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
		dayNamesMin:["вс","пн","вт","ср","чт","пт","сб"],
		onSelect:function(dt){
			window.location='/schet/1/?dt1='+dt
		}
	});
	
	
	$(".change-dn").click(function(){
		
		$(this).parent().find(".cd").toggleClass("dn")
	})
})
</script>


{% endblock %}
