{% extends "base_nonav.html" %}

{% block body %}
<div class="menu-buttons">
{% for d in users %}
	<div><a class="btn-menu btn btn-lg btn-success" href="{% url 'zakaz' id d.id %}">{{d.get_full_name}}</a></div>
{% endfor %}
</div>
{% endblock %}
