{% extends "base.html" %}
{% load humanize %}
{% block title %}Склад{% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-6">
		<h3>На складе</h3>
		<table class="table table-hover">
		<tr>
			<th>Наименование</th>	
			<th>Остаток (г,мл,шт)</th>
		</tr>
		{% for d in sk %}
		<tr>
			<td>
				{% if is_buh %}
				<a href="{% url 'rashod' d.tovar.id %}">{{d.tovar.name}}</a>
				{% else %}
				{{d.tovar.name}}
				{% endif %}
			</td>
			<td class="tar"><a href="#" class="change-ostatok" data-label="{{d.tovar.name}}" data-ostatok="{{d.volume|floatformat:0}}" data-id="{{d.id}}">{{d.volume|floatformat:0|intcomma}}</a></td>
		</tr>
		{% endfor %}
		</table>
	</div>
	<div class="col-md-6">
		<h3>Приход/Расход за смену</h3>
		<table class="table table-hover">
		<tr>
			<th>Наименование</th>	
			<th>Приход</th>
			<th>Расход</th>
			<th>Остаток</th>
		</tr>
		{% for d in balance %}
		<tr>
			<td>
				{% if is_buh %}
				<a href="{% url 'rashod' d.id %}">{{d.name}}
				{% else %}
				{{d.name}}
				{% endif %}
			</td>
			<td class="tar">{{d.prihod|floatformat:0|intcomma}}</td>
			<td class="tar">{{d.rashod|floatformat:0|intcomma}}</td>
			<td class="tar">{{d.sklad|floatformat:0|intcomma}}</td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>



<div class="modal fade" id="dlg_sklad_change" tabindex="-1" role="dialog" aria-labelledby="dlg_sklad_change_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="dlg_sklad_change_label"></h4>
      </div>
      <div class="modal-body">
		<form id="form_save_ostatok" role="form" action="" method="post">
		<input type="hidden" value="" name="sklad_id" id="sklad_id"/>
		<div class="form-group">
			<label for="ostatok">Остаток на складе</label>
			<input class="form-control" name="ostatok" id="ostatok" type="text" placeholder="Остаток на складе" value="">
		</div>	
		<div class="form-group">
			<label for="prim">Примечание</label>
			<textarea class="form-control" name="prim" id="prim" type="text" placeholder="Примечание" value=""></textarea>
		</div>	
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('form_save_ostatok').submit()">Сохранить</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
	$(document).ready(function(){
		$(".change-ostatok").click(function(){
			$("#dlg_sklad_change_label").text($(this).data("label"));
			$("#sklad_id").val($(this).data("id"));
			$("#ostatok").val($(this).data("ostatok"));
			$('#dlg_sklad_change').modal();
			return false;
		});
	});
</script>

{% endblock %}
