{% load humanize %}
<html>
<head>
<meta charset="utf-8" /> 
<title>Закрытие смены</title>
<style>
.tar{text-align: right}

.table {    border-collapse: collapse;}
.table tr th{padding: 0 10px;}
.table tr td{border-top: 1px solid #ddd;padding: 0 10px;}

</style>
</head>
<body>
<table>
	<tr>
		<th>{{user.first_name}}</th>
	</tr>
	<tr>
		<td>Открытие: </td><td><b>{{last_sm.dt_close|date:"d E Y H:i"}}</b></td>
		<td>Печать: </td><td><b>{% now "d E Y H:i" %}</b></td>
		<td>Выручка: </td><td><b>{{sum|default:0|floatformat:0|intcomma}}&nbsp;р.</b></td>
	</tr>
</table>
<h4>Приход/расход по кухне</h4>
<table class="table">
	<tr>
		<th>Позиция</th>
		<th>Приход</th>
		<th>Расход</th>
		<th>Остаток</th>		
	</tr>
	{% for d in data1 %}
	<tr>		
		<td>{{d.tovar.name}}</td>
		<td class="tar">{{d.prihod|default:0|floatformat|intcomma}}</td>
		<td class="tar">{{d.rashod|default:0|floatformat|intcomma}}</td>
		<td class="tar"><b>{{d.ostatok|default:0|floatformat|intcomma}}</b></td>		
	</tr>
	{% endfor %}
</table>
<h4>Приход/расход по бару</h4>
<table class="table">
	<tr>
		<th>Позиция</th>
		<th>Приход</th>
		<th>Расход</th>
		<th>Остаток</th>		
	</tr>
	{% for d in data2 %}
	<tr>		
		<td>{{d.tovar.name}}</td>
		<td class="tar">{{d.prihod|default:0|floatformat|intcomma}}</td>
		<td class="tar">{{d.rashod|default:0|floatformat|intcomma}}</td>
		<td class="tar"><b>{{d.ostatok|default:0|floatformat|intcomma}}</b></td>		
	</tr>
	{% endfor %}
</table>

</body>
</html>