{% extends "base.html" %}
{% load humanize %}

{% block title %}Закрытие смены{% endblock %}
{% block body %}
<h2>Закрытие смены</h2>
<a class="btn btn-info" href="{% url 'smena_close' %}?print=1" target="_blank">Печать отчёта</a>
{% if not next_sm %}
<a data-toggle="modal" data-target="#dlg_close_smena" class="btn btn-success">Закрыть смену</a>
{% endif %}
<h3>Отчет по смене</h3>
{% if prev_sm %}
<a href="{% url 'smena' prev_sm.id %}"><span class="glyphicon glyphicon-chevron-left"></span>предыдущая смена</a>
{% endif %}
{% if next_sm %}
<a href="{% url 'smena' next_sm.id %}">следующая смена<span class="glyphicon glyphicon-chevron-right"></span></a>
{% endif %}

<table class="table">
	<tr>
		<th>{{user.first_name}}</th>
		{% if next_sm %}
		<td>Дата открытия: <b>{{last_sm.dt_open|date:"d E y H:i" }}</b></td>
		<td>Дата закрытия: <b>{{last_sm.dt_close|date:"d E y H:i" }}</b></td>
		{% else %}
		<td>Дата открытия: <b>{{last_sm.dt_close|date:"d E y H:i"}}</b></td>
		<td>Текущая дата: <b>{% now "d E y H:i" %}</b></td>
		{% endif %}
		<td>Выручка за смену: <b>{{sum|default:0|floatformat:0|intcomma}} р.</b>
		<br/>кухня: <b>{{total1|default:0|floatformat:0|intcomma}} р.</b>
	        бар: <b>{{total2|default:0|floatformat:0|intcomma}} р.</b></td>
	</tr>
</table>
{% if next_sm %}
<p>
{{next_sm.who}}
</p>
<p>
{{next_sm.prim}}
</p>
{% endif %}
<h4>Приход/расход в порциях по кухне</h4>
<h3>Выручка по кухне: <b>{{total1|floatformat}}</b></h3>
<table class="table">
	<tr>
		<th>Позиция</th>
		<th>Приход</th>
		<th>Расход</th>
		<th>Остаток</th>
	</tr>
	{% for d in data1 %}
	<tr>
		<td>{{d.tovar.name}}</td>
		<td>{{d.prihod|default:0|floatformat|intcomma}}</td>
		<td>{{d.rashod|default:0|floatformat|intcomma}}</td>
		<td>{{d.ostatok|default:0|floatformat|intcomma}}</td>
	</tr>
	{% endfor %}
</table>
<h4>Приход/расход в порциях по бару</h4>
<h3>Выручка по бару: <b>{{total2|floatformat}}</b></h3>
<table class="table">
	<tr>
		<th>Позиция</th>
		<th>Приход</th>
		<th>Расход</th>
		<th>Остаток</th>
	</tr>
	{% for d in data2 %}
	<tr>
		<td>{{d.tovar.name}}</td>
		<td>{{d.prihod|default:0|floatformat|intcomma}}</td>
		<td>{{d.rashod|default:0|floatformat|intcomma}}</td>
		<td>{{d.ostatok|default:0|floatformat|intcomma}}</td>
	</tr>
	{% endfor %}
</table>

<h4>Возвраты</h4>
<table class="table">
	<tr>
		<th>Блюдо</th>
		<th>Количество</th>
		<th>Сумма</th>
		<th>Дата и время</th>
	</tr>
	
	{% for d in vz %}
	<tr>
		<td>{{d.usluga.name}}</td>
		<td>{{d.cnt}}</td>
		<td>{{d.summ|floatformat}}</td>
		<td>{{d.dt|date:"d.m.Y H:i"}}</td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="4">возвратов не было</td>
	</tr>
	{% endfor %}
	<tr>
		<th>Итого</th>
		<th>{{vz|length}}</th>
		<th>{{vz_summ|floatformat}}</th>
		<th></th>
	</tr>
</table>
<h4>Скидки (в том числе персоналу)</h4>
<table class="table">
	<tr>
		<th>Блюдо</th>
		<th>Количество</th>
		<th>Сумма</th>
		<th>Дата и время</th>
	</tr>
	
	{% for d in skidka %}
	<tr>
		<td>{{d.usluga.name}}</td>
		<td>{{d.cnt}}</td>
		<td>{{d.price|floatformat}}</td>
		<td>
			{% if d.schet.skidka %}
			{{d.schet.skidka|default:""}}%
			{% endif %}
			{% if d.schet.skidka_fix %}
			{{d.schet.skidka_fix|default:""}} р.
			{% endif %}		
		</td>
		<td>{{d.dt|date:"d.m.Y H:i"}}</td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="4">скидок не было</td>
	</tr>
	{% endfor %}
	<tr>
		<th>Итого</th>
		<th></th>
		<th>{{total_skidka|floatformat}} р.</th>
		<th></th>
	</tr>
</table>
<div class="modal fade" id="dlg_close_smena" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	<form method="post" action="">
	{% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
			<label for="who">Кто закрывает смену</label>
			<input class="form-control" autofocus="" name="who" id="who" type="text" value="{{user.first_name}}">
		</div>
		<div class="form-group">
			<label for="prim">Примечание</label>
			<textarea class="form-control" name="prim" id="prim"></textarea>
		</div>		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <input type="submit" class="btn btn-success" value="Закрыть смену">
      </div>
	</form>
    </div>
  </div>
</div>

<script>
$(function(){
	$('#dlg_close_smena').on('shown.bs.modal', function(){$('#who').focus();})	
})
</script>
{% endblock %}
