{% for sm in m.children %}
	<a class="submenu-category btn btn_menu2 submenu-name" rel="{{sm.id}}">{{sm.name}}</a>
{% endfor %}
<div class="cb"></div>
{% for sm in m.children %}
	<div class="submenu-{{sm.id}} {% if not forloop.counter == 1 %}dn{% endif %} submenu-content">
	{% for u in sm.usluga %}
		<a class="zakaz_uslga_position btn btn_menu3 add-menu" rel="{{u.id}}" href="">{{u.name}}</a>
	{% endfor %}
	</div>
{% endfor %}
