{% for sm in m.children %}
<div class="cb">
	<a class="submenu-category2 btn btn_menu2">{{sm.name}}</a>
	<div class='cb'>
	{% for u in sm.usluga %}
		<a class="zakaz_uslga_position btn btn_menu3 add-menu" rel="{{u.id}}" href="">{{u.name}}</a>
	{% endfor %}
	</div>
</div>
{% endfor %}
