{% extends "base.html" %}
{% load static %}
{% block title %}{{us.name}}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery-ui-1.10.4.custom.css" />
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.4.custom.min.js"></script>
{% endblock %}

{% block body %}

<h3>{{us.name}}</h3>

<div class="row">
<div class="col-md-6">
	<ol class="breadcrumb">
	  <li><a href="{% url 'menu' %}">Меню</a></li>	  
	  <li><a href="{% url 'menu' us.menu.parent.id %}">{{us.menu.parent.name}}</a></li>
	  <li><a href="{% url 'menu' us.menu.id %}">{{us.menu.name}}</a></li>	  	  
	</ol>	
	<form id="form_usluga" role="form" action="" method="post">
		<div class="form-group">
			<label for="usluga_name">Наименование</label>
			<input class="form-control" name="usluga_name" id="usluga_name" type="text" placeholder="Наименование" value="{{us.name}}">
		</div>
		<div class="form-group">
			<label for="usluga_price">Цена</label>
			<input class="form-control" name="usluga_price" id="usluga_price" type="text" placeholder="Цена" value="{{us.price|floatformat:0}}">
		</div>	
		<div class="form-group">
			<label for="usluga_desc" class="help-block">Описание</label>
			<textarea class="form-control" style="height: 250px" name="usluga_desc" id="usluga_desc" placeholder="Описание">{{us.description}}</textarea>
		</div>		
		<div class="form-group">
			<label for="usluga_price">Номер в списке</label>
			<input class="form-control" name="usluga_np" id="usluga_np" type="text" placeholder="Цена" value="{{us.np}}">
		</div>	
		<a type="button" href="{% url 'remove_usluga' us.id %}" class="btn btn-default" id="btn-remove">Удалить</a>
		<button type="button" class="btn btn-primary" onclick="document.getElementById('form_usluga').submit()">Сохранить</button>
	</form>
</div>
<div class="col-md-6">

	<h4>Состав</h4>
	<form id="form_usluga_sostav" role="form" action="" method="post">
		<table class="table" id="sostav">
		<tr><th class="width100">Ингридиент</th><th class="tac">Расход (г,мл,шт)</th><th>&nbsp;</th></tr>
		{% for d in us.sostav %}
		<tr>
			<td>
				<select type="text" name="tovar[]" class="tovar width100" value="{{d.tovar.id}}">
				{% for t in tovar %}
				<option value="{{t.id}}" {% if d.tovar.id == t.id %}selected="selected"{% endif %}>{{t.name}}</option>
				{% endfor %}
				</select>
			</td>
			<td><input type="text" value="{{d.volume|floatformat:0}}" name="volume[]" class="form-control tar"/></td>
			<td><a class="btn btn-info btn-xs mt6 btn-remove-sostav" href="">удалить</a></td>
		</tr>
		{% endfor %}
		</table>
		<button type="button" class="btn btn-info btn-add-sostav">Добавить</button>
		<button type="button" class="btn btn-primary" onclick="document.getElementById('form_usluga_sostav').submit()">Сохранить</button>
	</form>
</div>

<table class="dn" id="tovar_row_template">
<tr>
	<td>
		<select type="text" name="tovar[]" class="width100">
		{% for t in tovar %}
		<option value="{{t.id}}">{{t.name}}</option>
		{% endfor %}
		</select>
	</td>
	<td><input type="text" value="{{d.volume|floatformat:0}}" name="volume[]" class="form-control tar"/></td>
	<td><a class="btn btn-info btn-xs mt6 btn-remove-sostav" href="">удалить</a></td>
</tr>
</table>

<script>
$(function(){
	$("#btn-remove").click(function(){
		return confirm("Удалить из  меню?");
	})
	
	$(".btn-add-sostav").click(function(){
		var elem = $($("#tovar_row_template").html()).clone()
		elem.find("select").addClass("tovar").combobox()
		$("#sostav").append(elem)
		elem.find(".custom-combobox-input").focus()
		elem.find(".custom-combobox-input").val("")
		return false;
	})
	
	$(".btn-remove-sostav").live('click',function(){
		$(this).parent().parent().remove()
		return false;
	})
	
})
</script>


<style>
.custom-combobox {
	position: relative;
	display: inline-block;
	margin-top: 3px;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* support: IE7 */
	*height: 1.7em;
	*top: 0.1em;
}
.custom-combobox-input {
	margin: 0;
	padding: 0.3em;
	width: 245px;		
}
</style>
<script>
(function( $ ) {
	$.widget( "custom.combobox", {
		_create: function() {
			this.wrapper = $( "<span>" )
				.addClass( "custom-combobox" )
				.insertAfter( this.element );

			this.element.hide();
			this._createAutocomplete();
			this._createShowAllButton();
		},

		_createAutocomplete: function() {
			var selected = this.element.children( ":selected" ),
				value = selected.val() ? selected.text() : "";

			this.input = $( "<input>" )
				.appendTo( this.wrapper )
				.val( value )
				.attr( "title", "" )
				.addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
				.autocomplete({
					delay: 0,
					minLength: 0,
					source: $.proxy( this, "_source" )
				})
				.tooltip({
					tooltipClass: "ui-state-highlight"
				});

			this._on( this.input, {
				autocompleteselect: function( event, ui ) {
					ui.item.option.selected = true;
					this._trigger( "select", event, {
						item: ui.item.option
					});
				},

				autocompletechange: "_removeIfInvalid"
			});
		},

		_createShowAllButton: function() {
			var input = this.input,
				wasOpen = false;

			$( "<a>" )
				.attr( "tabIndex", -1 )
				.attr( "title", "Показать все ингридиенты" )
				.tooltip()
				.appendTo( this.wrapper )
				.button({
					icons: {
						primary: "ui-icon-triangle-1-s"
					},
					text: false
				})
				.removeClass( "ui-corner-all" )
				.addClass( "custom-combobox-toggle ui-corner-right" )
				.mousedown(function() {
					wasOpen = input.autocomplete( "widget" ).is( ":visible" );
				})
				.click(function() {
					input.focus();

					// Close if already visible
					if ( wasOpen ) {
						return;
					}

					// Pass empty string as value to search for, displaying all results
					input.autocomplete( "search", "" );
				});
		},

		_source: function( request, response ) {
			var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
			response( this.element.children( "option" ).map(function() {
				var text = $( this ).text();
				if ( this.value && ( !request.term || matcher.test(text) ) )
					return {
						label: text,
						value: text,
						option: this
					};
			}) );
		},

		_removeIfInvalid: function( event, ui ) {

			// Selected an item, nothing to do
			if ( ui.item ) {
				return;
			}

			// Search for a match (case-insensitive)
			var value = this.input.val(),
				valueLowerCase = value.toLowerCase(),
				valid = false;
			this.element.children( "option" ).each(function() {
				if ( $( this ).text().toLowerCase() === valueLowerCase ) {
					this.selected = valid = true;
					return false;
				}
			});

			// Found a match, nothing to do
			if ( valid ) {
				return;
			}

			// Remove invalid value
			this.input
				.val( "" )
				.attr( "title", value + " отсутствует в списке продуктов" )
				.tooltip( "open" );
			this.element.val( "" );
			this._delay(function() {
				this.input.tooltip( "close" ).attr( "title", "" );
			}, 2500 );
			this.input.data( "ui-autocomplete" ).term = "";
		},

		_destroy: function() {
			this.wrapper.remove();
			this.element.show();
		}
	});
})( jQuery );

$(function() {
	$( ".tovar" ).combobox();
	//setTimeout('$(".custom-combobox-input").focus();',1000)
	$( "#toggle" ).click(function() {
		$( "#combobox" ).toggle();
	});
});
</script>

{% endblock %}
