{% extends "base_nonav.html" %}
{% block extra_head %}
{% endblock %}

{% block body %}
<input type="hidden" id="confirm_zakaz" value="{{CONFIRM_ZAKAZ|default:1}}"/>

<div class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav">
		<li><a>Cтол: <b>{{stol.name}}</b></a></li>
		
		<li><a>{{OFFICIANT_NAME}}: <b>{{user.get_full_name}}</b></a></li>
		{% if stols %}
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				К столу <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
			{% for d in stols %}
				<li {% if d.hasZakaz %}class="active"{% endif %}><a href="{% url 'zakaz' d.id %}">{{d.name}}</a></li>
			{% endfor %}
			</ul>				
		</li>
		<li><a href="{% url 'zal' %}">В зал</a></li>
		{% endif %}		
	</ul>
	<ul class="fr nav navbar-nav">
		{% if is_admin%}
		<li><a href="{% url 'administrator' %}">Администрирование</a></li>
		{% endif %}		
		<li><a href="{% url 'logout' %}?next=/zal/">Выход</a></li>
		
	</ul>
</div>

<div class="row">
{% if menu %}
	<div class="col-md-4">
	<h3 class="tac">Меню</h3>
	
	<ul class="zakaz_menu">
		{% for menu1 in menu %}
		<li><button class="btn btn-success btn-lg btn-menu" rel="{{menu1.id}}" onclick="$('#dlg_menu{{menu1.id}}').modal();"> <!--title="{{menu1.id}}"-->{{menu1.name}}</button>
			<div class="modal fade" id="dlg_menu{{menu1.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				<div class="modal-content">
  				    <div class="modal-header">
						<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				    </div>				
					<div class="modal-body">
						<ul>
						{% for menu2 in menu1.children %}
							<li><span class="label label-warning {% if menu1.children|length > 1 %}collapse{% endif %}">{{menu2.name}}</span>
								<ul class="{% if menu1.children|length > 1 %}dn{% endif %}">
								{% for d in menu2.usluga %}
									<li>
										<div class="input-group input-group-sm mt2">
											<span class="input-group-btn">
												<button class="btn btn-default add-menu" type="button" rel="{{d.id}}" style="width: 350px;text-align:left">{{d.name}}</button>
											</span>
											<input type="text" class="form-control menu-value" rel="{{d.id}}" role="{{menu1.name}}" roleid="{{menu1.id}}" price="{{d.price}}" title="{{d.name}}" style="text-align:right" value="0">
											<span class="input-group-btn">
												<button class="btn btn-default rem-menu" rel="{{d.id}}" type="button">-</button>
											</span>
										</div>
									</li>
								{% endfor %}
								</ul>
							</li>
						{% endfor %}
						</ul>
					</div>
  				    <div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				    </div>
				</div>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
	
	</div> <!-- menu -->
{% endif %}	
	<div class="col-md-8">
		<div id="zakaz">
			{% if not edit %}
			<h3>Возврат</h3>
			<span class="alert width100 no-info">пустой</span>
			<ul class="list-group">
			</ul>
			{% endif %}
			<div class="btn-group add-in-schet-group">
			
			<button class="btn btn-primary add-in-schet" rel="">Возврат</button>
			
			</div>
		</div>	
		
	
	
	</div>
</div>




{% endblock %}

{% block extra_foot %}
<script>

function zakazRow(id,rid,name,cnt)
{
return "<li class='list-group-item' rel='"+id+"' roleid='"+rid+"' title='"+name+"'><a class='rem-zakaz badge'>убрать</a> <span class='cnt badge'>"+cnt+"</span><span>"+name+"</span> </li>"
}

function recalcZakaz()
{
	$("#zakaz ul").html("")
	$(".add-in-schet-group").addClass("dn")
	$("#zakaz .no-info").removeClass("dn")
	var rname = ""
	var rid = 0
	$(".menu-value").each(function(){
		var elem = $(this)
		if(parseInt(elem.val())>0){
			if(rname!=elem.attr("role")){
				rname = elem.attr("role")
				rid    = elem.attr("roleid")
				$("#zakaz ul").append("<li class='list-group-item alert-success rname' rel='"+rid+"'>"+rname+"</li>")
			}
			$("#zakaz ul").append(zakazRow(elem.attr("rel"),rid,elem.attr("title"),elem.val()))
			$(".add-in-schet-group").removeClass("dn")
			$("#zakaz .no-info").addClass("dn")
		}
	})
}

function getCnt(dst,id)
{
	if(dst.find(".usluga[rel="+id+"]").size()==0) return 0
	return parseFloat(dst.find(".usluga[rel="+id+"]").find(".cnt").text())
}

function getPrice(id)
{
	return parseFloat($(".menu-value[rel="+id+"]").attr("price"))
}
var SCHET_NUM = {{schet|length}}
$(function(){
    recalcZakaz()
	
	$(".add-menu").click(function(){
		var mv = $(this).parent().parent().find(".menu-value")
		mv.val(parseInt(mv.val())+1)
		{% if not edit %}recalcZakaz(){% endif %}
	})
	
	$(".rem-menu").click(function(){
		var mv = $(this).parent().parent().find(".menu-value")
		if(parseInt(mv.val())>0) 
			mv.val(parseInt(mv.val())-1)
		{% if not edit %}recalcZakaz(){% endif %}
	})
	
	$(".menu-value").keyup(function(){
		recalcZakaz()
	})
	
	$(".rem-zakaz").live('click',function(){
		var id=$(this).parent().attr("rel")
		$(".menu-value[rel="+id+"]").val(0)
		recalcZakaz()
	})
	
	
	$(".add-in-schet").live('click',function(){
		// оформление возврата
		data = []
		$("#zakaz .list-group-item").each(function(){
			var elem = $(this)
			if(!elem.hasClass("rname")){
				data.push({id:elem.attr("rel"),cnt:parseInt(elem.find(".cnt").text())})
			}
		})
		$.ajax({
			url:window.location,
			type:'POST',
			data: "vozvrat="+JSON.stringify(data),	
			dataType:'html',
			success:function(){
				window.location="/zal/"
			},
			error:function(xhr){
				alert('Ошибка сохранения возврата, обратитесь к администратору. '+xhr.status+' '+xhr.statusText)
			}
		})
		$(".menu-value").val(0)		
	})
	
	$(".rem-schet").live('click',function(){
		var num = $(this).attr("rel")
		$(this).parent().parent().parent().remove()
		$(".add-in-schet-group").find(".add-in-schet[rel='"+num+"']").remove()
		return false;
	})
	
	$(".add-schet").click(function(){
		SCHET_NUM = SCHET_NUM +1
		$("#scheta").append("<div id='schet"+SCHET_NUM+"' class='col-md-12'>"+
			"	<h3><span class='sname'>Счет "+SCHET_NUM +"</span>&nbsp;<small><a href='' class='rem-schet' rel='"+SCHET_NUM+"'>удалить</a></small></h3>"+
				"<span class='alert width100 no-info'>пустой</span>"+
				"<div class='schet'></div></div>")
		if(SCHET_NUM==1){
				$("#scheta .rem-schet").addClass("dn")
		}				
		$(".add-in-schet-group").append('<button class="btn btn-primary add-in-schet" rel="'+SCHET_NUM+'">В cчет '+SCHET_NUM+'</button>')
	})
	
	$(".expand").live('click',function(){
		
		$(this).removeClass("expand")
		$(this).parent().find("ul").hide()		
		$(this).addClass("collapse")
	})
	
	$(".collapse").live('click',function(){
		$(this).removeClass("collapse")
		$(".expand").click()
		$(this).parent().find("ul").show()
		$(this).addClass("expand")
	})
	
	$(".cancel-usluga").live('click',function(){
		var elem = $(this).parent().parent()
		var id   = elem.attr("rel")
		var name = elem.find(".name").text()
		var cnt  = parseInt(elem.find(".cnt").attr("rel"))
		var cur_cnt=parseInt(elem.find(".cnt").text())
		var rid = elem.parent().parent().attr("rel")
		if(cnt==cur_cnt){
			if(elem.parent().find(".usluga").size()==1) elem.parent().parent().remove()
			elem.remove()
		}
		else{
			elem.find(".cnt").attr("rel",0)
			elem.find(".cnt").text(cur_cnt-cnt)
			elem.find(".total_price").text((cur_cnt-cnt)*parseFloat(elem.find(".price1").text()))
			elem.removeClass("danger")
			$(this).addClass("dn")
		}
		$(".menu-value[rel="+id+"]").val(cnt)
		recalcZakaz()
		return false;
	})	
	
	$(".btn-confirm-schet").click(function(){
		if($("#confirm_zakaz").val()=="0" || confirm('Отправить заказ на обработку?')){
			var num = 0
			var schet = []
			$(".schet").each(function(){				
				name = $(this).parent().find(".sname").text()
				id   = $(this).parent().find(".sname").attr("rel")
				if(id==null) id="x"
				schet.push({"name":name,"sid":id,"usluga":[]})
				$(this).find(".usluga").each(function(){
					if(parseInt($(this).find(".cnt").attr("rel"))>0){
						schet[schet.length-1]["usluga"].push({"id":$(this).attr("rel"),"cnt":$(this).find(".cnt").attr("rel")})					
					}
				})				
			})
			
			$.ajax({
				url:window.location,
				type:'POST',
				data: "schet="+JSON.stringify(schet),	
				dataType:'html',
				success:function(){
					if($("#confirm_zakaz").val()=="0"){
						window.location = window.location
					}else{
						window.location="/zal/"
					}
				},
				error:function(xhr){
					alert('Ошибка сохранения счета, обратитесь к администратору. '+xhr.status+' '+xhr.statusText)
				}
			})
			
		}
	})
	{% if s.precheck == 0 %}
	$(".precheck").click(function(){
		return confirm("Напечатать пречек?")
	})
	{% endif %}
	$(".close-check").click(function(){
		return confirm("Закрыть счет?")
	})

	$(".close-check-prim").click(function(){
		p = prompt("Введите примечание")
		if(p!=null){
			$.post($(this).attr("href"),{"prim":p},function(){
				window.location = '/zal/'
			})
		}
		return false;
	})

	
	if(SCHET_NUM==0) $(".add-schet").click()
	
	
	{% if edit %}
	
	$(".cancel_usluga").click(function(){
		params = []
		$(".menu-value").each(function(){
			if(parseInt($(this).val())>0) params.push($(this).attr("rel")+";"+$(this).val())
		})
		if(params.length==0){
			alert("Выберите услугу")
			return false;
		}
		$.post($(this).attr("href"),{usluga:params},function(){
			window.location = window.location
		})
	})
	
	$(".usluga_move").click(function(){
		params = []
		$(".menu-value").each(function(){
			if(parseInt($(this).val())>0) params.push($(this).attr("rel")+";"+$(this).val())
		})
		if(params.length==0){
			alert("Выберите услугу")
			return false;
		}		
		$.post($(this).attr("href"),{usluga:params},function(){
			window.location = window.location
		})		
		return false;
	})
	
	{% endif %}
	
})
</script>
{% endblock %}