{% extends "base_nonav.html" %}
{% block extra_head %}
{% endblock %}

{% block title %}{{stol.name}}{% endblock %}

{% block body %}
<input type="hidden" id="confirm_zakaz" value="{{CONFIRM_ZAKAZ|default:1}}"/>

<div class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav">
		<li><a>Cтол: <b>{{stol.name}}</b></a></li>
		
		<li><a>{{OFFICIANT_NAME}}: <b>{{user.get_full_name}}</b></a></li>
		{% if stols %}
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				К столу <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
			{% for d in stols %}
				<li {% if d.hasZakaz %}class="active"{% endif %}><a href="{% url 'zakaz' d.id %}">{{d.name}}</a></li>
			{% endfor %}
			</ul>				
		</li>
		<li><a href="{% url 'zal' %}">В зал</a></li>
		<li><a href="{% url 'bron' stol.id %}">Бронирование</a></li>
		{% endif %}		
	</ul>
	<ul class="fr nav navbar-nav">

		<li><a href="{% url 'administrator' %}">Администрирование</a></li>

		<li><a href="{% url 'logout' %}?next=/zal/">Выход</a></li>
		
	</ul>
</div>

<div class="row">
{% if menu %}
	<div class="col-md-4">
	<h3 class="tac">Меню</h3>
	
	<ul class="zakaz_menu">
		{% for menu1 in menu %}
		<li><button class="btn btn-success btn-lg btn-menu" rel="{{menu1.id}}" onclick="$('#dlg_menu{{menu1.id}}').modal();"> <!--title="{{menu1.id}}"-->{{menu1.name}}</button>
			<div class="modal fade" id="dlg_menu{{menu1.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				<div class="modal-content">
  				    <div class="modal-header">
						<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				    </div>				
					<div class="modal-body">
						<ul>
						{% for menu2 in menu1.children %}
							<li><span class="label label-warning {% if menu1.children|length > 1 %}collapse{% endif %}">{{menu2.name}}</span>
								<ul class="{% if menu1.children|length > 1 %}dn{% endif %}">
								{% for d in menu2.usluga %}
									<li>
										<div class="input-group input-group-sm mt2">
											<span class="input-group-btn">
												<button class="btn btn-default add-menu" type="button" rel="{{d.id}}" style="width: 350px;text-align:left">{{d.name}}</button>
											</span>
											<input type="text" class="form-control menu-value" rel="{{d.id}}" role="{{menu1.name}}" roleid="{{menu1.id}}" price="{{d.price}}" title="{{d.name}}" style="text-align:right" value="0">
											<span class="input-group-btn">
												<button class="btn btn-default rem-menu" rel="{{d.id}}" type="button">-</button>
											</span>
										</div>
									</li>
								{% endfor %}
								</ul>
							</li>
						{% endfor %}
						</ul>
					</div>
  				    <div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				    </div>
				</div>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
	
	</div> <!-- menu -->
{% endif %}	
	<div class="col-md-8">
	<div id="zakaz">
		{% if not edit %}
		<h3>Новый заказ</h3>
		<span class="alert width100 no-info">пустой</span>
		<ul class="list-group">
		</ul>
		{% endif %}
		<div class="btn-group add-in-schet-group">
		{% for s in schet_open %}
		<button class="btn btn-primary add-in-schet" rel="{{forloop.counter}}">В cчет {{forloop.counter}}</button>
		{% endfor %}
		</div>
		
		<button class="mt10 btn btn-danger btn-confirm-schet dn" href="{% url 'zal' %}">Подтвердить</button>
	</div>	
	
	<div class="row scheta">
	<div id="scheta">
		{% for s in schet %}
			<div id="schet{{forloop.counter}}" class="col-md-12">
				<h3><span class="sname" rel="{{s.id}}">Счет #{{s.id}}</span><small class="fr mt10">{{s.dt_open|date:"d M H:i"}}</small></h3>
				{% if not s.hasZakaz %}					
					<span class="alert width100 no-info">пустой</span>
				{% endif %}
				<div class="schet">					
					{% for zakaz in s.zakazes %}
						{% if zakaz %}
						<table class='table' rel='{{zakaz.0.menu.id}}'>
						    <tr class='success rname'><th colspan='5'>{{zakaz.0.menu.name}}</th></tr>
							{% for d in zakaz %}
							<tr class='usluga' rel='{{d.usluga.id}}'>
								<td class='name width100'>{{d.usluga.name}}</td>
								<td class='cnt' rel='0'>{{d.cnt}}</td>
								<td class='price1'>{{d.usluga.price|floatformat:0}}</td>
								<td class='total_price'>{{d.price|floatformat:0}}</td>
								<td><a href='#' class='dn cancel-usluga'>отменить</a></td>
								{% if edit %}
								<td>
									<div class="input-group input-group-sm mt2">
										<span class="input-group-btn">
											<button class="btn btn-default add-menu" type="button" rel="{{d.id}}" style="text-align:left">+</button>
										</span>
										<input type="text" class="form-control menu-value" rel="{{d.id}}" role="{{menu1.name}}" roleid="{{menu1.id}}" price="{{d.price}}" title="{{d.name}}" style="text-align:right;width:50px" value="0">
										<span class="input-group-btn">
											<button class="btn btn-default rem-menu" rel="{{d.id}}" type="button">-</button>
										</span>
									</div>						
								</td>
								{% endif %}
							</tr>
							{% endfor %}
						</table>
						{% endif %}
					{% endfor %}
				
				<table class='table'>
				    <tr class='success rname'>
						<td>Всего: {{s.calcPrice|floatformat}} р.</td>
						<th>{% if s.skidka %}скидка {{s.skidka}}%</b>{% elif s.skidka_fix %}скидка {{s.skidka_fix|floatformat}} р.{% endif %} </th>
						{% if s.discount_card %}<th>скидочная карта: {{s.discount_card.card_number}}</th>{% endif %}
						{% if s.deposit %}<td>Депозит {{s.deposit|floatformat}} р. Остаток {{s.depositOst|floatformat}} р.</td>{% endif %}
						<th><b class="fs120">К оплате: {{s.calcPriceSkidka|floatformat}} р.</b></th></tr>
				</table>
				{% if s.prim %}<p>Примечание: <span class="schet_prim" rel="{{s.id}}">{{s.prim}}</span></p>{% endif %}
				</div>
			</div>
			<div class="cb"></div>
			{% if not edit %}
				<div class="btn-group">
				{% if HAVE_PRECHEK == 1 %}
					<a class="fr btn btn-success btn-s" href="{% url 'precheck' s.id %}">{% if s.precheck %}Отменить пречек{% else %}Пречек{% endif %}</a>
					<div class="btn-group">
						<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
						  Закрыть
						  <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a class="close-check" href="{% url 'close_check' s.id %}">Наличные</a></li>
							{% if HAVE_CARD == 1 %}
							<li><a class="close-check" href="{% url 'close_check' s.id 1 %}">Карта</a></li>
							{% endif %}
							<li><a class="close-check-prim" href="{% url 'close_check' s.id 2 %}">Примечание</a></li>
						</ul>
					</div>
				{% else %}
					<a class="fr btn btn-success btn-s" href="{% url 'close_check' s.id %}">Чек</a>
				{% endif %}
					
					
					<div class="btn-group">
						<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
						  Скидка
						  <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a class="skidka-card set-discount-card" href="javascript:;" rel="{{s.id}}" data-dc="{{s.discount_card.id|default:''}}" data-card_number="{{s.discount_card.card_number|default:''}}" data-summ="{{s.calcPriceSkidka}}">карта</a></li>
							<li><a class="skidka-fix" href="javascript:;" rel="{{s.id}}">сумма</a></li>
						{% for d in skidka %}
							<li><a class="skidka" href="{% url 'skidka' s.id d.id %}" >{{d.value}} %</a></li>
						{% endfor %}
						</ul>
					</div>
					{% if HAVE_DEPOSIT %}
					<a class="fr btn btn-primary set-deposit" href="javascript:;"  data-stol='{{stol.id}}' rel="{{s.id}}">Депозит</a>
					{% endif %}
					<a class="fr btn btn-primary set-discount-card" href="javascript:;" rel="{{s.id}}" data-dc="{{s.discount_card.id|default:''}}" data-card_number="{{s.discount_card.card_number|default:''}}" data-summ="{{s.calcPriceSkidka}}" title="Скидочная (накопительная) карта">СК</a>
					<a class="fr btn btn-primary set-prim" href="javascript:;" rel="{{s.id}}">Примечание</a>
				</div> <!-- btn-group -->	
			{% else %}
				<div class="btn-group pull-right">						
					<button type="button" class="btn btn-danger cancel_usluga" href="{% url 'usluga_cancel' s.id %}">Отмена заказа</button>
					<div class="btn-group">
						<button class="fr btn btn-danger dropdown-toggle" data-toggle="dropdown" href="{% url 'precheck' s.id %}" title="Перенос заказов в другой счет">В другой счет
						  <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
						
							{% for d in schet_open %}
							<li><a class="usluga_move" href="{% url 'usluga_move' s.id d.id %}">Счет #{{d.id}}</a></li>
							{% endfor %}
							<li><a class="usluga_move" href="{% url 'usluga_move' s.id 0 %}">В новый счет</a></li>
						
						</ul>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" title="Перенести весь счет на другой стол">
						  Счет на другой стол
						  <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
						{% for d in stols %}
							<li {% if d.hasZakaz %}class="active"{% endif %}><a href="{% url 'check_move' d.id s.id %}">{{d.name}}</a></li>
						{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
			<div class="cb"></div>
			{% if no_prechecks %}
			<a class="fr btn btn-info btn-xs mt10" href="{% url 'edit_zakaz' s.id %}">Редактировать</a>
			{% endif %}			
		{% endfor %}
	</div>
	<div class="cb"></div>
	{% if edit %}
	<a class="fr btn btn-info btn-xs mt10" href="{% url 'zakaz' stol.id %}">Завершить редактирование</a>
	{% else %}

	<button class="add-schet fr btn btn-info btn-xs mt10">Добавить счет</button>
	{% endif %}
		
		
	</div>
	
	</div>
</div>


<div class="modal fade" id="dlg_skidka_fix" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	<form method="post" action="{% url 'skidka_fix' %}">
	{% csrf_token %}
      <div class="modal-header">
		<input type="hidden" name="schet_id" id="schet_id" value=""/>
		<span>Скидка</span>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">

		<div class="form-group">
			<label for="summ">Сумма</label>
			<input class="form-control" name="summ" id="summ" type="text" value="0">
		</div>
		<div class="form-group">
			<label for="prim">Примечание</label>
			<textarea class="form-control" name="prim" id="prim"></textarea>
		</div>		
		
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <input type="submit" class="btn btn-success" value="Сохранить">
      </div>
	</form>
    </div>
  </div>
</div>

{% include 'dlg_skidka_card.htm' %}

<div class="modal fade" id="dlg_prim" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	<form method="post" action="{% url 'schet_prim' %}">
	{% csrf_token %}
      <div class="modal-header">
		<input type="hidden" name="prim_schet_id" id="prim_schet_id" value=""/>
		<span>Примечание</span>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">

		<div class="form-group">
			<textarea class="form-control" name="prim" id="s_prim"></textarea>
		</div>		
		
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <input type="submit" class="btn btn-success" value="Сохранить">
      </div>
	</form>
    </div>
  </div>
</div>

<!-- ДЕПОЗИТ -->
<div class="modal fade" id="dlg_deposit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	<form method="post" action="{% url 'schet_deposit' %}">
	{% csrf_token %}
      <div class="modal-header">
		<input type="hidden" name="deposit_schet_id" id="deposit_schet_id" value=""/>		
		<input type="hidden" name="deposit_stol_id" id="deposit_stol_id" value=""/>		
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>        
		<h4>Добавить депозит</h3>
      </div>
      <div class="modal-body">

		<div class="form-group">
			<label for="s_deposit">Сумма депозита:</label>
			<input class="form-control" name="deposit" id="s_deposit"></textarea>
		</div>		
		<div class="radio">
			<label>
				<input type="radio" name="card" id="card0" value="0" checked>
				наличные
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="card" id="card1" value="1">
				карта
			</label>
		</div>
		
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <input type="submit" class="btn btn-success" value="Сохранить">
      </div>
	</form>
    </div>
  </div>
</div>
<!-- /ДЕПОЗИТ -->
{% endblock %}

{% block extra_foot %}
<script>

function zakazRow(id,rid,name,cnt)
{
return "<li class='list-group-item' rel='"+id+"' roleid='"+rid+"' title='"+name+"'><a class='rem-zakaz badge'>убрать</a> <span class='cnt badge'>"+cnt+"</span><span>"+name+"</span> </li>"
}

function recalcZakaz()
{
	$("#zakaz ul").html("")
	$(".add-in-schet-group").addClass("dn")
	$("#zakaz .no-info").removeClass("dn")
	var rname = ""
	var rid = 0
	$(".menu-value").each(function(){
		var elem = $(this)
		if(parseInt(elem.val())>0){
			if(rname!=elem.attr("role")){
				rname = elem.attr("role")
				rid    = elem.attr("roleid")
				$("#zakaz ul").append("<li class='list-group-item alert-success rname' rel='"+rid+"'>"+rname+"</li>")
			}
			$("#zakaz ul").append(zakazRow(elem.attr("rel"),rid,elem.attr("title"),elem.val()))
			$(".add-in-schet-group").removeClass("dn")
			$("#zakaz .no-info").addClass("dn")
		}
	})
}

function getCnt(dst,id)
{
	if(dst.find(".usluga[rel="+id+"]").size()==0) return 0
	return parseFloat(dst.find(".usluga[rel="+id+"]").find(".cnt").text())
}

function getPrice(id)
{
	return parseFloat($(".menu-value[rel="+id+"]").attr("price"))
}
var SCHET_NUM = {{schet|length}}
$(function(){
    recalcZakaz()
	
	$(".add-menu").click(function(){
		var mv = $(this).parent().parent().find(".menu-value")
		mv.val(parseInt(mv.val())+1)
		{% if not edit %}recalcZakaz(){% endif %}
	})
	
	$(".rem-menu").click(function(){
		var mv = $(this).parent().parent().find(".menu-value")
		if(parseInt(mv.val())>0) 
			mv.val(parseInt(mv.val())-1)
		{% if not edit %}recalcZakaz(){% endif %}
	})
	
	$(".menu-value").keyup(function(){
		recalcZakaz()
	})
	
	$(".rem-zakaz").live('click',function(){
		var id=$(this).parent().attr("rel")
		$(".menu-value[rel="+id+"]").val(0)
		recalcZakaz()
	})
	
	
	$(".add-in-schet").live('click',function(){
		var dst = $("#schet"+$(this).attr("rel")+" .schet")	
		if(dst.find("tr").size()==0) $("#zakaz .no-info").removeClass("dn")
		$("#zakaz .list-group-item").each(function(){
			var elem = $(this)
			if(elem.hasClass("rname") && dst.find("table[rel="+elem.attr("rel")+"]").size()==0){
				var xdst = $("<table class='table table-bordered' rel='"+elem.attr("rel")+"'></table>")
				dst.append(xdst)
				xdst.append("<tr class='success rname'><th colspan='5'>"+elem.text()+"</th></tr>")
			}
			else{
				var xdst = dst.find("table[rel="+elem.attr("roleid")+"]")
				var name 		= elem.attr("title")				
				var id   		= elem.attr("rel")
				var new_cnt     = parseInt(elem.find(".cnt").text())
				var cnt         = getCnt(dst,id)+new_cnt
				var price1      = getPrice(id)
				var total_price = cnt*price1
				if(xdst.find(".usluga[rel="+id+"]").size()==0)
					xdst.append("<tr class='danger usluga' rel='"+id+"'><td class='name width100'>"+name+"</td><td class='cnt' rel='"+new_cnt+"'>"+cnt+"</td><td class='price1'>"+price1+"</td><td class='total_price'>"+total_price+"</td><td><a href='' class='cancel-usluga'>отменить</a></td></tr>")
				else{
					elem = dst.find(".usluga[rel="+id+"]")
					elem.addClass("danger")
					elem.find(".cnt").attr("rel",new_cnt)
					elem.find(".cnt").text(cnt)
					elem.find(".total_price").text(total_price)
					elem.find(".cancel-usluga").removeClass("dn")
				}
			}
			dst.parent().find(".no-info").addClass("dn")
			$(".btn-confirm-schet").removeClass("dn")
		})
		
		$(".menu-value").val(0)
		recalcZakaz()
	})
	
	$(".rem-schet").live('click',function(){
		var num = $(this).attr("rel")
		$(this).parent().parent().parent().remove()
		$(".add-in-schet-group").find(".add-in-schet[rel='"+num+"']").remove()
		return false;
	})
	
	$(".add-schet").click(function(){
		SCHET_NUM = SCHET_NUM +1
		$("#scheta").append("<div id='schet"+SCHET_NUM+"' class='col-md-12'>"+
			"	<h3><span class='sname'>Счет "+SCHET_NUM +"</span>&nbsp;<small><a href='' class='rem-schet' rel='"+SCHET_NUM+"'>удалить</a></small></h3>"+
				"<span class='alert width100 no-info'>пустой</span>"+
				{% if HAVE_DEPOSIT %}
				"<a class='fr btn btn-primary set-deposit' href='javascript:;' data-stol='{{stol.id}}' rel='0'>Депозит</a>"+
				{% endif %}
				"<div class='schet'></div></div>")
		if(SCHET_NUM==1){
				$("#scheta .rem-schet").addClass("dn")
		}				
		$(".add-in-schet-group").append('<button class="btn btn-primary add-in-schet" rel="'+SCHET_NUM+'">В cчет '+SCHET_NUM+'</button>')
	})
	
	$(".expand").live('click',function(){
		
		$(this).removeClass("expand")
		$(this).parent().find("ul").hide()		
		$(this).addClass("collapse")
	})
	
	$(".collapse").live('click',function(){
		$(this).removeClass("collapse")
		$(".expand").click()
		$(this).parent().find("ul").show()
		$(this).addClass("expand")
	})
	
	$(".cancel-usluga").live('click',function(){
		var elem = $(this).parent().parent()
		var id   = elem.attr("rel")
		var name = elem.find(".name").text()
		var cnt  = parseInt(elem.find(".cnt").attr("rel"))
		var cur_cnt=parseInt(elem.find(".cnt").text())
		var rid = elem.parent().parent().attr("rel")
		if(cnt==cur_cnt){
			if(elem.parent().find(".usluga").size()==1) elem.parent().parent().remove()
			elem.remove()
		}
		else{
			elem.find(".cnt").attr("rel",0)
			elem.find(".cnt").text(cur_cnt-cnt)
			elem.find(".total_price").text((cur_cnt-cnt)*parseFloat(elem.find(".price1").text()))
			elem.removeClass("danger")
			$(this).addClass("dn")
		}
		$(".menu-value[rel="+id+"]").val(cnt)
		recalcZakaz()
		return false;
	})	
	
	$(".btn-confirm-schet").click(function(){
		if(true){
			var num = 0
			var schet = []
			$(".schet").each(function(){				
				name = $(this).parent().find(".sname").text()
				id   = $(this).parent().find(".sname").attr("rel")
				if(id==null) id="x"
				schet.push({"name":name,"sid":id,"usluga":[]})
				$(this).find(".usluga").each(function(){
					if(parseInt($(this).find(".cnt").attr("rel"))>0){
						schet[schet.length-1]["usluga"].push({"id":$(this).attr("rel"),"cnt":$(this).find(".cnt").attr("rel")})					
					}
				})				
			})
			
			$.ajax({
				url:window.location,
				type:'POST',
				data: "schet="+JSON.stringify(schet),	
				dataType:'html',
				success:function(){
					if($("#confirm_zakaz").val()=="0"){
						window.location = window.location
					}else{
						window.location="/zal/"
					}
				},
				error:function(xhr){
					alert('Ошибка сохранения счета, обратитесь к администратору. '+xhr.status+' '+xhr.statusText)
				}
			})
			
		}
	})
	{% if s.precheck == 0 %}
	$(".precheck").click(function(){
		return true;
	})
	{% endif %}
	$(".close-check").click(function(){
		return confirm("Закрыть счет?")
	})

	$(".close-check-prim").click(function(){
		p = prompt("Введите примечание")
		if(p!=null){
			$.post($(this).attr("href"),{"prim":p},function(){
				window.location = '/zal/'
			})
		}
		return false;
	})

	
	if(SCHET_NUM==0) $(".add-schet").click()
	/* фиксированная скидка */
	$('#dlg_skidka_fix').on('shown.bs.modal', function(){
		$('#summ').focus();
	});	

	$(".skidka-fix").click(function(){
		$("#schet_id").val($(this).attr("rel"));
		$('#dlg_skidka_fix').modal();	
		return false;
	});

	$(".skidka-card").click(function(){
		$("#schet_id").val($(this).attr("rel"));
		$('#dlg_skidka_card').modal();	
		return false;
	});
	/* / */	
	/* примечание */
	$('#dlg_prim').on('shown.bs.modal', function(){
		$('#s_prim').focus();
	})	


	$(".set-prim").click(function(){
		$("#prim_schet_id").val($(this).attr("rel"));
		$("#s_prim").val($(".schet_prim[rel="+$(this).attr("rel")+"]").text())
		$('#dlg_prim').modal();	
		return false;
	});

	$(".set-discount-card").click(function(){
		$("#discount_schet_id").val($(this).attr("rel"));
		$("#discount_card_id").val($(this).data("dc"));
		$("#discount_max_summ").val($(this).data("summ"));
		$("#card_number").val($(this).data("card_number"));
		$("#s_prim").val($(".schet_prim[rel="+$(this).attr("rel")+"]").text())
		$('#dlg_skidka_card').modal();
		if($(this).data("dc")!=""){
			updateCard();	
		}
		return false;
	});
	/* / */	
	{% if HAVE_DEPOSIT %}
	/* депозит*/
	$('#dlg_deposit').on('shown.bs.modal', function(){
		$('#s_deposit').focus();
	})		
	$(".set-deposit").click(function(){
		$("#deposit_schet_id").val($(this).attr("rel"));
		$("#deposit_stol_id").val($(this).data("stol"));
		
		//$("#s_deposit").val($(".schet_prim[rel="+$(this).attr("rel")+"]").text())
		$('#dlg_deposit').modal();	
		return false;
	})	
	{% endif %}
	/* / */
	{% if edit %}
	
	$(".cancel_usluga").click(function(){
		params = []
		$(".menu-value").each(function(){
			if(parseInt($(this).val())>0) params.push($(this).attr("rel")+";"+$(this).val())
		})
		if(params.length==0){
			alert("Выберите услугу")
			return false;
		}
		$.post($(this).attr("href"),{usluga:params},function(){
			window.location = window.location
		})
	})
	
	$(".usluga_move").click(function(){
		params = []
		$(".menu-value").each(function(){
			if(parseInt($(this).val())>0) params.push($(this).attr("rel")+";"+$(this).val())
		})
		if(params.length==0){
			alert("Выберите услугу")
			return false;
		}		
		$.post($(this).attr("href"),{usluga:params},function(){
			window.location = window.location
		})		
		return false;
	})
	
	{% endif %}
	
})
</script>
{% endblock %}
