<div class="circleStatsItemBox {% if stol.hasZakaz %}orangeDark{% else %}green{% endif %}">
                <div class="header">{{xname|default:"Стол"}} <a class="glyphicon glyphicon-flag reserv-button" href="{% url 'bron' stol.pk %}"></a></div>
                <a href="/zakaz/{{stol.id}}/" class="itemlink">
                    <div class="number">
                            <span>{{stol.name}}</span>
                    </div>
                            {% if stol.bron %}
                    <div class="reservTime">
                            <ul>
                                    {% for d in stol.bron %}
                                            <li title="{{d.prim}}">{{d.dt|date:"H:i"}}</li>
                                            {% endfor %}
                            </ul>
                    </div>
                            {% endif %}
                    <div class="footer">
                                    {% if stol.hasPrecheck %}
                            <span class="glyphicon glyphicon-list"></span>
                            <span>пречек готов</span>
                                    {% endif %}
                    </div>
                </a>
</div>                        
