{% load static %}
<html>
<head>
<meta charset="utf-8" /> 
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap-theme.min.css" />  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
<style>
body{
	background-color: white;
}
.zal{
	1border: 1px solid black;
	margin: 10px auto;
	width: 1000px;
	height: 400px;
	position: relative;
	text-align: center;
}

.stol{
	position: relative;
	width: 300px;
	height: 100px;
	cursor: pointer;
	text-align: center;
	background-color: white;
	display: inline-block;
	margin: 10px;
}

.stol span,
.zal span{
	font-size: 65px;
	color: #ddd;
}

.zakaz{
	border: 1px solid red;
}

.zakaz span{color: red;}

.precheck-image{
	position: absolute;
	bottom: 3px;
	left: 3px;
	height: 30px;
	width: 30px;
	background: url("/static/img/precheck.png");
}

.bron-image{
	position: absolute;
	top: 3px;
	right: 3px;
	height: 30px;
	width: 30px;
	background: url("/static/img/no-bron.png");
}

.bron .bron-image{background: url("/static/img/bron.png")}

.bron-text{
	position: absolute;
	top: 40px;
	right: 1px;
	color: black;
	
}

.bron-text p{line-height: 1px;font-size: 10px;width:34px;text-align:center;}	
.zakaz-text{position: absolute;top: 40px;left: 20px;}
.zakaz-text table tr td{font-size: 20px;}
.red{color:red !important}
.red p{color:red !important}
</style>
</head>
<body>

<div class="zal">
{% for stol in stol %}
	<div class="btn btn-success mesto stol {% if stol.hasZakaz %}zakaz{% endif %} {% if stol.hasBron %}bron{% endif %}" rel="/zakaz/{{stol.id}}/">
		<a class="bron-image" href="/bron/{{stol.id}}/" title="Бронирование стола"></a>
		{% if stol.hasPrecheck %}<a class="precheck-image" title="Напечатан пречек"></a>{% endif %}
		{% for d in stol.bron %}<div class="bron-text {% if d.is_now %}red{% endif %}" title="{{d.prim}}"><p>{{d.dt|date:"H:i"}}</p></div>{% endfor %}
		<span>{{stol.name}}</span>
	</div>
{% endfor %}

</div>


<script>
$(function(){
	$(".mesto").click(function(){window.location=$(this).attr("rel")})
})
</script>
</body>
</html>