
<div class="circleStatsItemBox orange">
                <div class="header">Стол <a class="glyphicon glyphicon-flag reserv-button"></a></div>
                <a href="/zakaz/{{stol.id}}/" class="itemlink">
                    <div class="number" style="width: 90px">
                            <span>{{stol.name}}</span>
                    </div>
                    <div class="footer">
                                    {% if stol.hasPrecheck %}
                            <span class="glyphicon glyphicon-list"></span>
                            <span>пречек готов</span>
                                    {% endif %}
                    </div>
                </a>
</div>                        
